<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        td {
            text-align: center;
            background-color: #ffffff;
        }
        th {
            padding: 10px;
            background-color: #f1f1f1;
        }
        .head {
            font-size: 20px;
            text-align: center;
        }
      
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
    </style>

    <link rel='stylesheet' href='stylesheets/home1.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" 
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <title>HOME</title>
</head>

<body>
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>

    <!-- end of Narbar-->
<!-- LEFT -->
    <main class="grid-container">
        <div id="content" class="container"> 
            <thead><br>
                <div class="item1">
                    <p><b>Name :</b> <%= person.name%></p> 
                    <b>Class</b>
                        <% if (Object.keys(result).length != 0) { %> :
                            <%= result[0].ClassName %> 
                            <br>
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin" style="background-color: rgb(255, 255, 255);">
                                <svg width="17.5" height="20" style="font-size: 20px;;align-items: center;" viewBox="0 0 448 512">
                                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                                </svg><b> Change Class</b>
                            </button>
                            <% } else{ %>  
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin" style="background-color: rgb(255, 255, 255); " >
                                <svg width="17.5" height="20" style="font-size: 20px;;align-items: center;" viewBox="0 0 448 512">
                                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                                </svg><b> Join Class</b>
                            </button>
                            
                        <% } %>
                </div>    
            </thead>
        </div>     
        <div id="content" class="container"> 
            <thead>
                <div class="card ">
                    <div class="card-header">
                        <svg height="20" width="20" viewBox="0 0 512 512">
                            <path d="M505.2 324.8l-47.73-68.78l47.75-68.81c7.359-10.62 8.797-24.12 3.844-36.06c-4.969-11.94-15.52-20.44-28.22-22.72l-82.39-14.88l-14.89-82.41c-2.281-12.72-10.76-23.25-22.69-28.22c-11.97-4.936-25.42-3.498-36.12 3.844L256 54.49L187.2 6.709C176.5-.6016 163.1-2.039 151.1 2.896c-11.92 4.971-20.4 15.5-22.7 28.19l-14.89 82.44L31.15 128.4C18.42 130.7 7.854 139.2 2.9 151.2C-2.051 163.1-.5996 176.6 6.775 187.2l47.73 68.78l-47.75 68.81c-7.359 10.62-8.795 24.12-3.844 36.06c4.969 11.94 15.52 20.44 28.22 22.72l82.39 14.88l14.89 82.41c2.297 12.72 10.78 23.25 22.7 28.22c11.95 4.906 25.44 3.531 36.09-3.844L256 457.5l68.83 47.78C331.3 509.7 338.8 512 346.3 512c4.906 0 9.859-.9687 14.56-2.906c11.92-4.969 20.4-15.5 22.7-28.19l14.89-82.44l82.37-14.88c12.73-2.281 23.3-10.78 28.25-22.75C514.1 348.9 512.6 335.4 505.2 324.8zM456.8 339.2l-99.61 18l-18 99.63L256 399.1L172.8 456.8l-18-99.63l-99.61-18L112.9 255.1L55.23 172.8l99.61-18l18-99.63L256 112.9l83.15-57.75l18.02 99.66l99.61 18L399.1 255.1L456.8 339.2zM256 143.1c-61.85 0-111.1 50.14-111.1 111.1c0 61.85 50.15 111.1 111.1 111.1s111.1-50.14 111.1-111.1C367.1 194.1 317.8 143.1 256 143.1zM256 319.1c-35.28 0-63.99-28.71-63.99-63.99S220.7 192 256 192s63.99 28.71 63.99 63.1S291.3 319.1 256 319.1z"/>
                        </svg><b> Recommend</b>

                        <% if (Object.keys(RecommendaResult).length !== 0 && RecommendaResult[0].RecommendCourse != "null" ) { %> <%# ถ้าเลือกวิธีแนะนำแล้ว %> 
                            <br>
                            <%= RecommendaResult[0].RecommendationType %> <%# วิธีแนะนำคือ %> 
                            <br>
                            
                            <% if (TicketBooking_SystemPercent === 100 && Library_SystemPercent === 100 && RoshamboPercent === 100 && CalendarPercent === 100 && CalculatorPercent === 100 ) { %> <%# ถ้า Path ครบแล้ว %> 
                                <p>คุณได้เรียนครบแล้ว!</p>
                            <% } else { %>
                                <div class="row">
                                    <% if(RecommendaResult[0].RecommendCourse === "Algorithms and Flowcharts"){ %> <%# Output จาก Recommend มาเทียบ %> 
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Algorithms_and_Flowcharts'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Datatype and Variable"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Datatype_and_Variable'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Input and Output"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Input_and_Output'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Operators and Expressions"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Operators_and_Expressions'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Selection Statement"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Selection_Statement'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Loop Statement"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Loop_Statement'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Array and String"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Array_and_String'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% }else if(RecommendaResult[0].RecommendCourse === "Function"){ %>
                                        <div class="col-6">
                                            <button onclick="window.location.href='/course-Functions'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i></button>
                                        </div>
                                    <% } else{ %>  <%# ถ้าไม่มีการแนะนำ คือ เรียนตาม path ที่เลือกเรียบร้อยแล้ว%> 
                                        <h6>Finished</h6>
                                        <div class="w-100"></div>
                                        <div class="col-6">Next</div>
                                        
                                    <% } %>

                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-dark btn-sm btn-block " data-bs-toggle="modal" data-bs-target="#RecommendSetting"><i class="fa fa-flag" style="font-size: 16px;;align-items: center;" ></i></button>
                                    </div>
                                </div>
                            <% } %>
                            

                        <% } else{ %> 
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#RecommendSetting">
                                <svg height="20" width="20" viewBox="0 0 512 512">
                                    <path d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"/></svg>
                                    <b> Choose</b>
                            </button>
                         <% } %>  
                        
                    </div>	
            </thead>
            
        </div>    
                
       
        <br>
        
   
    

<!-- MID -->
    <!-- SKILLS-->

    <div id="content" class="container">
    <div class="group">
        <div>
        <% if(isNaN(BasicPercent)){ %>

        <% } else{ %>  
                <h1 id = 'content'><!--<svg height="40" width="40" viewBox="0 0 576 512">
                    <path d="M352.4 243.8l-49.83 99.5c-6.009 12-23.41 11.62-28.92-.625L216.7 216.3l-30.05 71.75L88.55 288l176.4 182.2c12.66 13.07 33.36 13.07 46.03 0l176.4-182.2l-112.1 .0052L352.4 243.8zM495.2 62.86c-54.36-46.98-137.5-38.5-187.5 13.06L288 96.25L268.3 75.92C218.3 24.36 135.2 15.88 80.81 62.86C23.37 112.5 16.84 197.6 60.18 256h105l35.93-86.25c5.508-12.88 23.66-13.12 29.54-.375l58.21 129.4l49.07-98c5.884-11.75 22.78-11.75 28.67 0l27.67 55.25h121.5C559.2 197.6 552.6 112.5 495.2 62.86z"/>
                </svg> -->Competency </h1>   
                <div style="height: 1000px;" class="chartMenu">
                    <div class="chartCard">
                        <div class="chartBox">
                        <canvas id="myChart"></canvas>
                        </div>
                    </div>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
                <script>
                // setup 
                const data = {
                  labels: ['Knowledge', 'Tracing', 'Explaining','Writing'],
                  datasets: [{
                    data: [<%= BasicPercent %>, <%= TracePercent %>, <%= ExplainPercent %>, <%= WritePercent %>],
                    backgroundColor: [
                      '#ffc107', //Yellow
                      '#11a1c1', //Blue
                      '#fb607f', //Pink
                      '#8bc34a' //Green
                    ],
                    borderColor: [
                      '#fff'
                    ]
                  }]
                };
            
                // config 
                const config = {
                  type: 'polarArea',
                  data,
                  options: {
                   
                  }
                };
            
                // render init block
                const myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );
            
                // Instantly assign Chart.js version
                const chartVersion = document.getElementById('chartVersion');
                chartVersion.innerText = Chart.version;
                </script>

                </div>
            </div>
        <% } %>
            
        <div>
            <table>
                    <tr>
                        <th style="width: 300px;" class="head">Lesson</th>
                        <th style="width: 120px;" class="head">Knowledge</th>
                        <th style="width: 120px;" class="head">Tracing</th>
                        <th style="width: 120px;" class="head">Explaining</th>
                        <th style="width: 120px;" class="head">Writing</th>
                    </tr>  
                
                    <tr>
                        <th>1 Algorithms and Flowcharts</th>
                        <td><%= IntroductionScoreLV1 %></td>
                        <td><%= IntroductionScoreLV2 %></td>
                        <td><%= IntroductionScoreLV3 %></td>
                        <td><%= IntroductionScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>2 Datatype and Variable</th>
                        <td><%= StringScoreLV1 %></td>
                        <td><%= StringScoreLV2 %></td>
                        <td><%= StringScoreLV3 %></td>
                        <td><%= StringScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>3 Input and Output</th>
                        <td><%= DatatypeScoreLV1 %></td>
                        <td><%= DatatypeScoreLV2 %></td>
                        <td><%= DatatypeScoreLV3 %></td>
                        <td><%= DatatypeScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>4 Operators and Expressions</th>
                        <td><%= OperatorsScoreLV1 %></td>
                        <td><%= OperatorsScoreLV2 %></td>
                        <td><%= OperatorsScoreLV3 %></td>
                        <td><%= OperatorsScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>5 Selection Statements</th>
                        <td><%= FlowControlScoreLV1 %></td>
                        <td><%= FlowControlScoreLV2 %></td>
                        <td><%= FlowControlScoreLV3 %></td>
                        <td><%= FlowControlScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>6 Loop Statements</th>
                        <td><%= PointersScoreLV1 %></td>
                        <td><%= PointersScoreLV2 %></td>
                        <td><%= PointersScoreLV3 %></td>
                        <td><%= PointersScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>7 Arrays and Strings</th>
                        <td><%= FunctionScoreLV1 %></td>
                        <td><%= FunctionScoreLV2 %></td>
                        <td><%= FunctionScoreLV3 %></td>
                        <td><%= FunctionScoreLV4 %></td>
                    </tr>
                    <tr>
                        <th>8 Functions</th>
                        <td><%= StructureScoreLV1 %></td>
                        <td><%= StructureScoreLV2 %></td>
                        <td><%= StructureScoreLV3 %></td>
                        <td><%= StructureScoreLV4 %></td>
                    </tr>
                
            </table>    
        </div>   
    </div>
    </div>
    
    
<!-- Start of LiveChat (www.livechat.com) code -->
        <script>
            window.__lc = window.__lc || {};
            window.__lc.license = 17376438;
            ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
        </script>
        <noscript><a href="https://www.livechat.com/chat-with/17376438/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>

        <!--End of LiveChat code -->
        <!--
    <div class="footer">
        <b>Contact Us</b>
        <div class="foot">
            <div style="margin-right: 10px;">
                <a href="https://line.me/ti/g/ZK6d49jqNq">
                    <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" aria-label="LINE" role="img" viewBox="0 0 512 512"  fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><rect width="512" height="512" rx="15%" fill="#00B900"></rect><path d="m443 231c-2 45-21 76-51 103-53 47-137 105-148 96-11-14 21-47-20-52-88-12-155-74-155-147 0-82 85-150 188-150s189 68 186 150z" fill="#ffffff"></path><path d="m371 232h-34m34-36h-36v72h36m-123 0v-72l54 72v-72m-89 72v-72m-66 0v72h37" fill="none" stroke="#00B900" stroke-linecap="round" stroke-linejoin="round" stroke-width="21"></path></g></svg>
                </a>
            </div>
            <div>
                <a href="mailto:todsapon.b@bumail.net">
                    <svg width="50px" height="50px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0.00024000000000000003"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="-2.4" y="-2.4" width="28.80" height="28.80" rx="5.472" fill="#008bc7" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.336"></g><g id="SVGRepo_iconCarrier"> <g id="style=fill"> <g id="email"> <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M7 2.75C5.38503 2.75 3.92465 3.15363 2.86466 4.1379C1.79462 5.13152 1.25 6.60705 1.25 8.5V15.5C1.25 17.393 1.79462 18.8685 2.86466 19.8621C3.92465 20.8464 5.38503 21.25 7 21.25H17C18.615 21.25 20.0754 20.8464 21.1353 19.8621C22.2054 18.8685 22.75 17.393 22.75 15.5V8.5C22.75 6.60705 22.2054 5.13152 21.1353 4.1379C20.0754 3.15363 18.615 2.75 17 2.75H7ZM19.2285 8.3623C19.5562 8.10904 19.6166 7.63802 19.3633 7.31026C19.1101 6.98249 18.6391 6.9221 18.3113 7.17537L12.7642 11.4616C12.3141 11.8095 11.6858 11.8095 11.2356 11.4616L5.6886 7.17537C5.36083 6.9221 4.88982 6.98249 4.63655 7.31026C4.38328 7.63802 4.44367 8.10904 4.77144 8.3623L10.3185 12.6486C11.3089 13.4138 12.691 13.4138 13.6814 12.6486L19.2285 8.3623Z" fill="#f2f2f2"></path> </g> </g> </g></svg>
                </a>
            </div>-->
    

    


    <!-- Modal -->
        <!-- Join Class -->
    <div class="modal fade" id="Classjoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Class Join</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/joinclass" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="classCode" class="form-label"><b>Class Token</b></label>
                        <input type="text" class="form-control" id="classCode" name="classToken" placeholder="Token สำหรับเข้าชั้นเรียน">
                        <div  class="form-text">**สามารถรับโค้ดจากอาจารย์ผู้สอน</div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>       

        </div>
        </div>
    </div>

    <!-- Recommendation -->
    <div class="modal fade" id="RecommendSetting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Recommendation Setting</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Recommendation_setting" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <b>เส้นทางตาม Course ที่ทำ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="course-Path" value="Fastest Path">
                                    <label class="form-check-label" for="course-Path">
                                    หาเส้นทางที่เร็วที่สุด
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <b>เส้นทางตาม Project ที่ต้องการ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Ticket-Path" value="TicketBookingSystem-(Project_quiz1)">
                                    <label class="form-check-label" for="Ticket-Path">
                                    Ticket Booking System
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Point-Path" value="Library">
                                    <label class="form-check-label" for="Point-Path">
                                    Point of Sales System
                                    </label>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Ros-Path" value="Roshambo">
                                    <label class="form-check-label" for="Ros-Path">
                                    Roshambo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>          
    
          </div>
        </div>
    </div>

    


   


  

<%- include('../layouts/footer') %>
