<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        td {
            text-align: center;
            background-color: #ffffff;
            width: 100px;
        }
        th {
            padding: 10px;
            background-color: #f1f1f1;
            width: 250px;
        }
        h1,h4 {
            color: black;
        }
        table {
            width: 100%;
        }
        .pre {
            background-color: #b8ffc5;
        }
        .post {
            background-color: #ffd7b8;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {font-size: 3.5rem;}
            html {height: 100%;}
        }
        #bg {
            position: fixed;
            width: 100%;
            height: 95%;
            opacity: 0.6;
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home1.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" 
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <title>HOME</title>
</head>

<body class="quantico-regular" style=" background-color: #cad19f;">
    
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    
    <!-- end of Narbar-->
<!-- LEFT -->
    <main>
       
        <br><br>
        <div id="content" class="container"><br>
            <div class="group">
                <div class="item1" style="border-radius: 5px;">
                    <% if (Object.keys(result).length != 0) { %>
                    <p>Course name : <%= result[0].Course %></p>  
                    <p>Class : <%= result[0].Section %> </p>
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin" style="background-color: #ffffff;">
                                <svg width="17.5" height="20" style="font-size: 20px;;align-items: center;" viewBox="0 0 448 512">
                                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                                </svg><b> Change Class</b>
                            </button>
                            <% } else{ %>  
                            <b>คลิกเพื่อเข้าร่วม Class</b><br>
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#Classjoin" style="background-color: #ffffff;" >
                                <svg width="17.5" height="20" style="font-size: 20px;;align-items: center;" viewBox="0 0 448 512">
                                <path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/>
                                </svg><b> Join Class</b>
                            </button>
                            
                        <% } %>
                </div>    

                <div class="item1" style="width: auto;">
                    <svg height="20" width="20" viewBox="0 0 512 512">
                        <path d="M505.2 324.8l-47.73-68.78l47.75-68.81c7.359-10.62 8.797-24.12 3.844-36.06c-4.969-11.94-15.52-20.44-28.22-22.72l-82.39-14.88l-14.89-82.41c-2.281-12.72-10.76-23.25-22.69-28.22c-11.97-4.936-25.42-3.498-36.12 3.844L256 54.49L187.2 6.709C176.5-.6016 163.1-2.039 151.1 2.896c-11.92 4.971-20.4 15.5-22.7 28.19l-14.89 82.44L31.15 128.4C18.42 130.7 7.854 139.2 2.9 151.2C-2.051 163.1-.5996 176.6 6.775 187.2l47.73 68.78l-47.75 68.81c-7.359 10.62-8.795 24.12-3.844 36.06c4.969 11.94 15.52 20.44 28.22 22.72l82.39 14.88l14.89 82.41c2.297 12.72 10.78 23.25 22.7 28.22c11.95 4.906 25.44 3.531 36.09-3.844L256 457.5l68.83 47.78C331.3 509.7 338.8 512 346.3 512c4.906 0 9.859-.9687 14.56-2.906c11.92-4.969 20.4-15.5 22.7-28.19l14.89-82.44l82.37-14.88c12.73-2.281 23.3-10.78 28.25-22.75C514.1 348.9 512.6 335.4 505.2 324.8zM456.8 339.2l-99.61 18l-18 99.63L256 399.1L172.8 456.8l-18-99.63l-99.61-18L112.9 255.1L55.23 172.8l99.61-18l18-99.63L256 112.9l83.15-57.75l18.02 99.66l99.61 18L399.1 255.1L456.8 339.2zM256 143.1c-61.85 0-111.1 50.14-111.1 111.1c0 61.85 50.15 111.1 111.1 111.1s111.1-50.14 111.1-111.1C367.1 194.1 317.8 143.1 256 143.1zM256 319.1c-35.28 0-63.99-28.71-63.99-63.99S220.7 192 256 192s63.99 28.71 63.99 63.1S291.3 319.1 256 319.1z"/>
                    </svg><b> Recommend</b>

                    <% if (Object.keys(RecommendaResult).length !== 0 && RecommendaResult[0].RecommendCourse != "null" ) { %> <%# ถ้าเลือกวิธีแนะนำแล้ว %> 
                        <br>
                        <%= RecommendaResult[0].RecommendationType %> <%# วิธีแนะนำคือ %> 
                        <br>
                            
                        <% if (TicketBooking_SystemPercent === 100 && PointofSales_SystemPercent === 100 && ProjectQUIZ3Percent === 100 ) { %> <%# ถ้า Path ครบแล้ว %> 
                            <p class="chakra-petch-regular">คุณได้เรียนครบแล้ว!</p>
                        <% } else { %>
                            <div class="row">
                                <% if(RecommendaResult[0].RecommendCourse === "Algorithms and Flowcharts"){ %> <%# Output จาก Recommend มาเทียบ %> 
                                <div class="col-6">
                                    <button onclick="window.location.href='/course-Algorithms_and_Flowcharts'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Algorithms and Flowcharts</button>
                                </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Datatype and Variable"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Datatype_and_Variable'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Datatype and Variable</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Input and Output"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Input_and_Output'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Input and Output</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Operators and Expressions"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Operators_and_Expressions'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Operators and Expressions</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Selection Statements"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Selection_Statements'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Selection Statement</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Loop Statements"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Loop_Statements'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Loop Statement</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Arrays and Strings"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Arrays_and_Strings'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Array and String</button>
                                    </div>
                                <% }else if(RecommendaResult[0].RecommendCourse === "Functions"){ %>
                                    <div class="col-6">
                                        <button onclick="window.location.href='/course-Functions'" type="button" class="btn btn-outline-dark btn-sm btn-block mb-2"> <i class="fa fa-paper-plane" style="font-size:16px"></i> Function</button>
                                    </div>
                                <% } else{ %>  <%# ถ้าไม่มีการแนะนำ คือ เรียนตาม path ที่เลือกเรียบร้อยแล้ว%> 
                                    <h6>Finished</h6>
                                    <div class="w-100"></div>
                                    <div class="col-6">Next</div>
                                <% } %>    
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-outline-dark btn-sm btn-block " data-bs-toggle="modal" data-bs-target="#RecommendSetting"><i class="fa fa-flag" style="font-size: 16px;;align-items: center;" ></i></button>
                                    </div>
                                </div>
                            <% } %>
                    <% } else{ %> 
                            <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#RecommendSetting">
                                <svg height="20" width="20" viewBox="0 0 512 512">
                                    <path d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z"/></svg>
                                    <b> Choose</b>
                            </button>
                         <% } %>  
                 </div>	
            </div>
                
        


            <!-- MID -->
                <!-- SKILLS-->
                <br>
                
                <div class="group">
                    <div>
                        <div class="boxbax">
                            <p style="margin: 0;">Progress</p>
                            <p style="font-size: 12px;">ความคืบหน้าในการเรียน</p>
                            <div style="display: flex;">
                                <div class="progress">
                                    <progress class="progress" value="<%= TicketBooking_SystemPercent %>" max="100"></progress>
                                    <% if (TicketBooking_SystemPercent === 50) { %>
                                        
                                    <% }%>
                                </div> 
                                <b style="font-size: 12px; margin-left: 5px;"><%= TicketBooking_SystemPercent %>%</b>
                            </div>
                            <hr>
                            <% if (TicketBooking_SystemPercent === 50) { %>
                                <p style="margin: 0;">Project Quiz 1 ปลดล็อกแล้ว!</p>
                            <% }%>
                            <% if (TicketBooking_SystemPercent === 75) { %>
                                <p style="margin: 0;">Project Quiz 1 ปลดล็อกแล้ว!</p>
                            <% }%>
                            <% if (TicketBooking_SystemPercent === 100) { %>
                                <p style="margin: 0;">Project Quiz 1 ปลดล็อกแล้ว!</p>
                            <% }%>
                            <p style="margin: 0;">คลิก<a href="/project"> Project </a>เพื่อดูเพิ่มเติม</p> <br>

                            <p style="margin: 3px;">คะแนน Project Quiz</p>
                            <div style="margin-left: 15px;">
                                <p style="font-size: 14px; margin: 3px;">Quiz 1 : <%= PrjQuiz1Score %></p>
                                <p style="font-size: 14px; margin: 3px;">Quiz 2 : <%= PrjQuiz2Score %></p>
                                <p style="font-size: 14px; margin: 3px;">Quiz 3 : <%= PrjQuiz3Score %></p>
                            </div>
                        </div>
                    
                        
                        
                         <br>
                        
                    </div>
                    <div  class="group2">
                        <div></div>
                        <div>
                            <h4 class="chakra-petch-regular">Competency</h4>   
                            <div style="height: 400px;">
                                <div class="chartCard">
                                    <div class="chartBox" style="background-color: #e2ddc8; border: solid #fff;">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                </div>
                                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
                                <script>
                                    // setup 
                                    // [<%= PreBasicPercent %>, <%= PreTracePercent %>, <%= PreExplainPercent %>, <%= PreWritePercent %>]
                                    // [<%= BasicPercent %>, <%= TracePercent %>, <%= ExplainPercent %>, <%= WritePercent %>]
                                    Chart.defaults.borderColor = '#fff';
                                    const data = {
                                        labels: ['Knowledge', 'Tracing', 'Explaining','Writing'],
                                        datasets: [{
                                            data: [15,20,15,30],
                                            label: "Pre-test",
                                            borderColor: '#80599f',
                                            backgroundColor: '#80599f49',
                                        },{
                                            data: [50,55,45,40],
                                            label: "Post-test",
                                            borderColor: '#d272e7',
                                            fill: true,
                                            backgroundColor: '#d272e737',
                                        }]
                                    };
                                    // config 
                                    const config = {
                                        type: 'radar',
                                        data,
                                        options: {}
                                        };
                                    // render init block
                                    const myChart = new Chart(
                                        document.getElementById('myChart'),
                                        config
                                    );
                                    
                                    // Instantly assign Chart.js version
                                    const chartVersion = document.getElementById('chartVersion');
                                    chartVersion.innerText = Chart.version;
                                </script>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="group2" style="width: 800px;">
                    <hr><hr>
                    <div class="boxbax2">  
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0" style="width: 100%;">
                            <p style="margin: 0;">Pre-test</p>
                            <div class="row mb-3 ">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Knowledge: <%= PreBasicPercent %> /40</b>
                                    <progress class="progress" max="40" value=<%= PreBasicPercent %>  </progress>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Tracing: <%= PreTracePercent %> /40</b>
                                <progress class="progress" max="40" value=<%= PreTracePercent %>  class="html5 "></progress>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Explaining: <%= PreExplainPercent %> /40</b>
                                <progress class="progress" max="40" value=<%= PreExplainPercent, %>   class="html5 "></progress>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="boxbax2">
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0" style="width: 100%;">
                            <p style="margin: 0;">Post-test</p>
                            <div class="row mb-3 ">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Knowledge: <%= BasicPercent %> /40</b>
                                    <progress class="progress" max="40" value=<%= BasicPercent %>  </progress>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Tracing: <%= TracePercent %> /40</b>
                                    <progress class="progress" max="40" value=<%= TracePercent %> </progress>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10 " style="top:10px">
                                    <b style="font-size: 12px;">Explaining: <%= ExplainPercent %> /40</b>
                                    <progress class="progress" max="40" value=<%= ExplainPercent, %> </progress>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div style="margin-left: 10px;">
                    <% if (TicketBooking_SystemPercent === 13) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br> (1 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 25) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br><br> (2 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 38) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด (3 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 50) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br> (4 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 63) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br><br> (5 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 75) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด (6 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 88) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br> (7 แบบทดสอบ)</p>
                    <% }%>
                    <% if (TicketBooking_SystemPercent === 100) { %>
                        <p style="font-size: 12px;">คะแนนรวมแบบทดสอบบทแรกถึงแบบทดสอบที่ทำล่าสุด<br> (8 แบบทดสอบ)</p>
                    <% }%></div>
                </div>
            </div>



    <!-- Modal -->
        <!-- Join Class -->
    <div class="modal fade" id="Classjoin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Class Join</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/joinclass" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="classCode" class="form-label"><b>Class Token</b></label>
                        <input type="text" class="form-control chakra-petch-regular" style="font-size: 13px;" id="classCode" name="classToken" placeholder="Token สำหรับเข้าชั้นเรียน">
                        <div  class="form-text chakra-petch-regular">**สามารถรับโค้ดจากอาจารย์ผู้สอน</div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>       

        </div>
        </div>
    </div>

    <!-- Recommendation -->
    <div class="modal fade" id="RecommendSetting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Recommendation Setting</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Recommendation_setting" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <b>เส้นทางตาม Course ที่ทำ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="course-Path" value="Fastest Path">
                                    <label class="form-check-label" for="course-Path">
                                    หาเส้นทางที่เร็วที่สุด
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!--
                            <div class="col">
                                <b>เส้นทางตาม Project ที่ต้องการ</b>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Ticket-Path" value="TicketBookingSystem-(Project_quiz1)">
                                    <label class="form-check-label" for="Ticket-Path">
                                    Ticket Booking System
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Point-Path" value="PointofSalesSystem-(Project_quiz2)">
                                    <label class="form-check-label" for="Point-Path">
                                    Point of Sales System
                                    </label>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RecommendationSetting" id="Ros-Path" value="ProjectQUIZ3">
                                    <label class="form-check-label" for="Ros-Path">
                                    Project Quiz 3
                                    </label>
                                </div>
                            </div>-->
                        </div>
                    </div>   
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>          
    
          </div>
        </div>

    </div>

</div>
</div>

   <script src="/public/javascripts/chart.js"></script>

   
  
   
<%- include('../layouts/footer') %>
