<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .box-skill {
            width: 600px;
            background-color: #9C7EB7;
        }
        .score_title {
            width: 50px;
            margin: 0;
        }
        .card_title {
            display: flex;
        }
        .card_box {
            background-color: #d6d3d3; 
            padding: 5px; 
            margin-bottom: 5px;
            border: solid 1px #747474;
        }

    </style>

    <link rel='stylesheet' href='stylesheets/home1.css' />
    <link rel='stylesheet' href='stylesheets/chart.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" 
    integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <title>Home</title>
</head>

<body style="background-color: #cad19f;">
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->

<br><br><br>
    <div id = "content" class="container" >
        <div  class="group2">
        <div>
            <h4 class="chakra-petch-regular">Skill</h4>   
            <div> <!-- chart -->
                <div class="chartCard">
                    <div class="chartBox" style="background-color: #e2ddc8; border: solid #fff; width: 300px;">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
                <script>
                
                       
                    
                    Chart.defaults.borderColor = '#fff';
                    const data = {
                        labels: ['Knowledge', 'Tracing', 'Explaining','Writing'],
                        datasets: [{
                            data: [<%= KnowledgePercent %>,<%= TracePercent %>,<%= ExplainPercent %>,<%= WritePercent %>],
                            label: "Post-test",
                            borderColor: '#2F3C3D',
                            fill: true,
                            backgroundColor: '#bd7b677e',
                        },
                            
                        {
                            data: [<%= PreKnowledgePercent %>,<%= PreTracePercent %>,<%= PreExplainPercent %>,<%= PreWritePercent %>],
                            label: "Pre-test",
                            borderColor: '#2F3C3D',
                            backgroundColor: '#66b7bd83',
                        }]
                    };
                    // config 
                    const config = {
                        type: 'radar',
                        data,
                        options: {}
                        };
                    // render init block
                    const myChart = new Chart(
                        document.getElementById('myChart'),
                        config
                    );
                    
                    // Instantly assign Chart.js version
                    const chartVersion = document.getElementById('chartVersion');
                    chartVersion.innerText = Chart.version;
                </script>
            </div>
        </div>
        <div>
            <h4 class="chakra-petch-regular">Project-Quiz</h4>  <br>
            <div style="display: flex;">
                <div class="">
                    <p class="score_title">Quiz 1</p>
                    <div class="pie animate" style="--p:<%= TicTacToeScore*4 %>;--c:#bd7b67; font-size: 14px;"> <%= TicTacToeScore %></div>
                </div>

                <div class="">
                    <p class="score_title">Quiz 2</p>
                    <div class="pie animate" style="--p:<%= LibrarySystemScore*4 %>;--c:#bd7b67; font-size: 14px;"> <%= LibrarySystemScore %></div>
                </div>                                   
            </div>
            <div class="">
                <p class="score_title">Quiz 3</p>
                <div class="pie animate" style="--p:<%= RoshamboScore*4 %>;--c:#bd7b67; font-size: 14px;"> <%= RoshamboScore %></div>                  
            </div> 
        </div>
        
        </div><hr>
        <div class="row" > 
            <div class="group2"> <!-- แบบทดสอบที่ผู้เรียนทำคะแนนได้มากสุด -->
                <!--<div class="col-sm" >  sortedCourse 
                    <div class="box  mb-5" style="background-color: #cad19f;">
                        <h4>แบบทดสอบที่ผู้เรียนทำคะแนนได้มากสุด</h4>
                        <div lang="ja">
                                <ol>
                                    
                                    <li><%= sortedCourse[0] %></li>
                                    <li><%= sortedCourse[1] %></li>
                                    <li><%= sortedCourse[2] %></li>
                                    <li><%= sortedCourse[3] %></li>
                                    <li><%= sortedCourse[4] %></li>
                                    <li><%= sortedCourse[5] %></li>
                                    <li><%= sortedCourse[6] %></li>
                                    <li><%= sortedCourse[7] %></li>
                                </ol>
                         
                        </div>
                    </div>
                </div>-->
               
                     <!-- Pre-test Score -->
                        <div>
                            <b>Pre-test</b>
                            <div class="card_box"><!-- Lab 1-->
                                <div class="card_title">
                                    <p class="score_title">Lab 1</p>
                                    <div class="pie animate" style="--p:<%= 25*4 %>;--c:#66B7BD; font-size: 14px;"> <%= TicTacToeScore %></div>
                                    <div class="TeacherBar">
                                        <div class="TeacherBarr">
                                            <div style="--c: <%= PreIntroductionBG2 %>; --w :<%= ((PreIntroductionLv1/PreIntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                                <% if (PreIntroductionCount === 0) { %>
                                                    K: <%= Math.round(PreIntroductionLv1/1)%>
                                                <% } else { %>
                                                    K: <%= Math.round(PreIntroductionLv1/PreIntroductionCount) %>
                                                <% }%>
                                            </div>
                                        </div>
                                        <div class="TeacherBarr">
                                            <div style="--c: <%= PreIntroductionBG2 %>; --w :<%= ((PreIntroductionLv2/PreIntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                                <% if (PreIntroductionCount === 0) { %>
                                                    T: <%= Math.round(PreIntroductionLv2/1)%>
                                                <% } else { %>
                                                    T: <%= Math.round(PreIntroductionLv2/PreIntroductionCount) %>
                                                <% }%>
                                            </div>
                                        </div>
                                        <div class="TeacherBarr">
                                            <div style="--c: <%= PreIntroductionBG2 %>; --w :<%= ((PreIntroductionLv3/PreIntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                                <% if (PreIntroductionCount === 0) { %>
                                                    E: <%= Math.round(PreIntroductionLv3/1)%>
                                                <% } else { %>
                                                    E: <%= Math.round(PreIntroductionLv3/PreIntroductionCount) %>
                                                <% }%>
                                            </div>
                                        </div>
                                        <div class="TeacherBarr">
                                            <div style="--c: <%= PreIntroductionBG2 %>; --w :<%= ((PreIntroductionLv4/PreIntroductionCount)/25)*100 %>px; " class="TeacherBarValue">
                                                <% if (PreIntroductionCount === 0) { %>
                                                    W: <%= Math.round(PreIntroductionLv4/1)%>
                                                <% } else { %>
                                                    W: <%= Math.round(PreIntroductionLv4/PreIntroductionCount) %>
                                                <% }%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card_box"><!-- Lab 2-->
                                <div class="card_title">
                                <p class="score_title">Lab 2</p>
                                <div class="TeacherBar">
                                    <div style="--c:<%= PreStringBG %> ; --w :<%= ((PreStringScore/PreStringCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStringCount === 0) { %>
                                            <%= Math.round(PreStringScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreStringScore/PreStringCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStringBG2 %>; --w :<%= ((PreStringLv1/PreStringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStringCount === 0) { %>
                                            K: <%= Math.round(PreStringLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PreStringLv1/PreStringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStringBG2 %>; --w :<%= ((PreStringLv2/PreStringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStringCount === 0) { %>
                                            T: <%= Math.round(PreStringLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreStringLv2/PreStringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStringBG2 %>; --w :<%= ((PreStringLv3/PreStringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStringCount === 0) { %>
                                            E: <%= Math.round(PreStringLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreStringLv3/PreStringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStringBG2 %>; --w :<%= ((PreStringLv4/PreStringCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStringCount === 0) { %>
                                            W: <%= Math.round(PreStringLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreStringLv4/PreStringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 3-->
                                <div class="card_title">
                                <p class="score_title">Lab 3</p>
                                <div class="TeacherBar">
                                    <div style="--c:<%= PreDatatypeBG %> ; --w :<%= ((PreDatatypeScore/PreDatatypeCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreDatatypeCount === 0) { %>
                                            <%= Math.round(PreDatatypeScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreDatatypeScore/PreDatatypeCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreDatatypeBG2 %>; --w :<%= ((PreDatatypeLv1/PreDatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreDatatypeCount === 0) { %>
                                            K: <%= Math.round(PreDatatypeLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PreDatatypeLv1/PreDatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreDatatypeBG2 %>; --w :<%= ((PreDatatypeLv2/PreDatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreDatatypeCount === 0) { %>
                                            T: <%= Math.round(PreDatatypeLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreDatatypeLv2/PreDatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreDatatypeBG2 %>; --w :<%= ((PreDatatypeLv3/PreDatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreDatatypeCount === 0) { %>
                                            E: <%= Math.round(PreDatatypeLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreDatatypeLv3/PreDatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreDatatypeBG2 %>; --w :<%= ((PreDatatypeLv4/PreDatatypeCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreDatatypeCount === 0) { %>
                                            W: <%= Math.round(PreDatatypeLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreDatatypeLv4/PreDatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 4-->
                                <div class="card_title">
                                <p class="score_title">Lab 4</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PreOperatorsBG %>; --w :<%= ((PreOperatorsScore/PreOperatorsCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreOperatorsCount === 0) { %>
                                            <%= Math.round(PreOperatorsScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreOperatorsScore/PreOperatorsCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreOperatorsBG2 %>; --w :<%= ((PreOperatorsLv1/PreOperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreOperatorsCount === 0) { %>
                                            K: <%= Math.round(PreOperatorsLv1/1)%>
                                        <% } else { %>
                                            K:<%= Math.round(PreOperatorsLv1/PreOperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreOperatorsBG2 %>; --w :<%= ((PreOperatorsLv2/PreOperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreOperatorsCount === 0) { %>
                                            T: <%= Math.round(PreOperatorsLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreOperatorsLv2/PreOperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreOperatorsBG2 %>; --w :<%= ((PreOperatorsLv3/PreOperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreOperatorsCount === 0) { %>
                                            E: <%= Math.round(PreOperatorsLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreOperatorsLv3/PreOperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreOperatorsBG2 %>; --w :<%= ((PreOperatorsLv4/PreOperatorsCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreOperatorsCount === 0) { %>
                                            W: <%= Math.round(PreOperatorsLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreOperatorsLv4/PreOperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 5-->
                                <div class="card_title">
                                <p class="score_title">Lab 5</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PreFlowControlBG %>; --w :<%= ((PreFlowControlScore/PreFlowControlCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFlowControlCount === 0) { %>
                                            <%= Math.round(PreFlowControlScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreFlowControlScore/PreFlowControlCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFlowControlBG2 %>; --w :<%= ((PreFlowControlLv1/PreFlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFlowControlCount === 0) { %>
                                            K: <%= Math.round(PreFlowControlLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PreFlowControlLv1/PreFlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFlowControlBG2 %>; --w :<%= ((PreFlowControlLv2/PreFlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFlowControlCount === 0) { %>
                                            T: <%= Math.round(PreFlowControlLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreFlowControlLv2/PreFlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFlowControlBG2 %>; --w :<%= ((PreFlowControlLv3/PreFlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFlowControlCount === 0) { %>
                                            E: <%= Math.round(PreFlowControlLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreFlowControlLv3/PreFlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFlowControlBG2 %>; --w :<%= ((PreFlowControlLv4/PreFlowControlCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFlowControlCount === 0) { %>
                                            W: <%= Math.round(PreFlowControlLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreFlowControlLv4/PreFlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 6-->
                                <div class="card_title">
                                <p class="score_title">Lab 6</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PrePointersBG %>; --w :<%= ((PrePointersScore/PrePointersCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PrePointersCount === 0) { %>
                                            <%= Math.round(PrePointersScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PrePointersScore/PrePointersCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PrePointersBG2 %>; --w :<%= ((PrePointersLv1/PrePointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PrePointersCount === 0) { %>
                                            K: <%= Math.round(PrePointersLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PrePointersLv1/PrePointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PrePointersBG2 %>; --w :<%= ((PrePointersLv2/PrePointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PrePointersCount === 0) { %>
                                            T: <%= Math.round(PrePointersLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PrePointersLv2/PrePointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PrePointersBG2 %>; --w :<%= ((PrePointersLv3/PrePointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PrePointersCount === 0) { %>
                                            E: <%= Math.round(PrePointersLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PrePointersLv3/PrePointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PrePointersBG2 %>; --w :<%= ((PrePointersLv4/PrePointersCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PrePointersCount === 0) { %>
                                            W: <%= Math.round(PrePointersLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PrePointersLv4/PrePointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="card_box"><!-- Lab 7-->
                                <div class="card_title">
                                <p class="score_title">Lab 7</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PreFunctionBG %>; --w :<%= ((PreFunctionScore/PreFunctionCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFunctionCount === 0) { %>
                                            <%= Math.round(PreFunctionScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreFunctionScore/PreFunctionCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFunctionBG2 %>; --w :<%= ((PreFunctionLv1/PreFunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFunctionCount === 0) { %>
                                            K: <%= Math.round(PreFunctionLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PreFunctionLv1/PreFunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFunctionBG2 %>; --w :<%= ((PreFunctionLv2/PreFunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFunctionCount === 0) { %>
                                            T: <%= Math.round(PreFunctionLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreFunctionLv2/PreFunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFunctionBG2 %>; --w :<%= ((PreFunctionLv3/PreFunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFunctionCount === 0) { %>
                                            E: <%= Math.round(PreFunctionLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreFunctionLv3/PreFunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreFunctionBG2 %>; --w :<%= ((PreFunctionLv4/PreFunctionCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreFunctionCount === 0) { %>
                                            W: <%= Math.round(PreFunctionLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreFunctionLv4/PreFunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="card_box"><!-- Lab 8-->
                                <div class="card_title">
                                <p class="score_title">Lab 8</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PreStructureBG %>; --w :<%= ((PreStructureScore/PreStructureCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStructureCount === 0) { %>
                                            <%= Math.round(PreStructureScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PreStructureScore/PreStructureCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStructureBG2 %>; --w :<%= ((PreStructureLv1/PreStructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStructureCount === 0) { %>
                                            K: <%= Math.round(PreStructureLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(PreStructureLv1/PreStructureCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStructureBG2 %>; --w :<%= ((PreStructureLv2/PreStructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStructureCount === 0) { %>
                                            T: <%= Math.round(PreStructureLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PreStructureLv2/PreStructureCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStructureBG2 %>; --w :<%= ((PreStructureLv3/PreStructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStructureCount === 0) { %>
                                            E: <%= Math.round(PreStructureLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PreStructureLv3/PreStructureCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PreStructureBG2 %>; --w :<%= ((PreStructureLv4/PreStructureCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PreStructureCount === 0) { %>
                                            W: <%= Math.round(PreStructureLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PreStructureLv4/PreStructureCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                        </div>
                        
                     <!-- Post-test Score -->
                        <div>
                            <b>Post-test</b>
                            <div class="card_box"><!-- Lab 1-->
                                <div class="card_title">
                                <p class="score_title">Lab 1</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= IntroductionBG %>; --w :<%= ((IntroductionScore/IntroductionCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (IntroductionCount === 0) { %>
                                            <%= Math.round(IntroductionScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(IntroductionScore/IntroductionCount) %>/40
                                        <% }%>
                                    </div>
                                </div>
                            </div><div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= IntroductionBG2 %>; --w :<%= ((IntroductionLv1/IntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (IntroductionCount === 0) { %>
                                            K: <%= Math.round(IntroductionLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(IntroductionLv1/IntroductionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= IntroductionBG2 %>; --w :<%= ((IntroductionLv2/IntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (IntroductionCount === 0) { %>
                                            T: <%= Math.round(IntroductionLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(IntroductionLv2/IntroductionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= IntroductionBG2 %>; --w :<%= ((IntroductionLv3/IntroductionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (IntroductionCount === 0) { %>
                                            E: <%= Math.round(IntroductionLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(IntroductionLv3/IntroductionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= IntroductionBG2 %>; --w :<%= ((IntroductionLv4/IntroductionCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (IntroductionCount === 0) { %>
                                            W: <%= Math.round(IntroductionLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(IntroductionLv4/IntroductionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 2-->
                                <div class="card_title">
                                <p class="score_title">Lab 2</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= StringBG %>; --w :<%= ((StringScore/StringCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (StringCount === 0) { %>
                                            <%= Math.round(StringScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(StringScore/StringCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= StringBG2 %>; --w :<%= ((StringLv1/StringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (StringCount === 0) { %>
                                            K: <%= Math.round(StringLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(StringLv1/StringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= StringBG2 %>; --w :<%= ((StringLv2/StringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (StringCount === 0) { %>
                                            T: <%= Math.round(StringLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(StringLv2/StringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= StringBG2 %>; --w :<%= ((StringLv3/StringCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (StringCount === 0) { %>
                                            E: <%= Math.round(StringLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(StringLv3/StringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= StringBG2 %>; --w :<%= ((StringLv4/StringCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (StringCount === 0) { %>
                                            W: <%= Math.round(StringLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(StringLv4/StringCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="card_box"><!-- Lab 3-->
                                <div class="card_title">
                                <p class="score_title">Lab 3</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= DatatypeBG %>; --w :<%= ((DatatypeScore/DatatypeCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (DatatypeCount === 0) { %>
                                            <%= Math.round(DatatypeScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(DatatypeScore/DatatypeCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= DatatypeBG2 %>; --w :<%= ((DatatypeLv1/DatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (DatatypeCount === 0) { %>
                                            K: <%= Math.round(DatatypeLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(DatatypeLv1/DatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= DatatypeBG2 %>; --w :<%= ((DatatypeLv2/DatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (DatatypeCount === 0) { %>
                                            T: <%= Math.round(DatatypeLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(DatatypeLv2/DatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= DatatypeBG2 %>; --w :<%= ((DatatypeLv3/DatatypeCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (DatatypeCount === 0) { %>
                                            E: <%= Math.round(DatatypeLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(DatatypeLv3/DatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= DatatypeBG2 %>; --w :<%= ((DatatypeLv4/DatatypeCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (DatatypeCount === 0) { %>
                                            W: <%= Math.round(DatatypeLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(DatatypeLv4/DatatypeCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 4-->
                                <div class="card_title">
                                <p class="score_title">Lab 4</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= OperatorsBG %>; --w :<%= ((OperatorsScore/OperatorsCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (OperatorsCount === 0) { %>
                                            <%= Math.round(OperatorsScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(OperatorsScore/OperatorsCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= OperatorsBG2 %>; --w :<%= ((OperatorsLv1/OperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (OperatorsCount === 0) { %>
                                            K: <%= Math.round(OperatorsLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(OperatorsLv1/OperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= OperatorsBG2 %>; --w :<%= ((OperatorsLv2/OperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (OperatorsCount === 0) { %>
                                            T: <%= Math.round(OperatorsLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(OperatorsLv2/OperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= OperatorsBG2 %>; --w :<%= ((OperatorsLv3/OperatorsCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (OperatorsCount === 0) { %>
                                            E: <%= Math.round(OperatorsLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(OperatorsLv3/OperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= OperatorsBG2 %>; --w :<%= ((OperatorsLv4/OperatorsCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (OperatorsCount === 0) { %>
                                            W: <%= Math.round(OperatorsLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(OperatorsLv4/OperatorsCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 5-->
                                <div class="card_title">
                                <p class="score_title">Lab 5</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= FlowControlBG %>; --w :<%= ((FlowControlScore/FlowControlCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (FlowControlCount === 0) { %>
                                            <%= Math.round(FlowControlScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(FlowControlScore/FlowControlCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FlowControlBG2 %>; --w :<%= ((FlowControlLv1/FlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FlowControlCount === 0) { %>
                                            K: <%= Math.round(FlowControlLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(FlowControlLv1/FlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FlowControlBG2 %>; --w :<%= ((FlowControlLv2/FlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FlowControlCount === 0) { %>
                                            T: <%= Math.round(FlowControlLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(FlowControlLv2/FlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FlowControlBG2 %>; --w :<%= ((FlowControlLv3/FlowControlCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FlowControlCount === 0) { %>
                                            E: <%= Math.round(FlowControlLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(FlowControlLv3/FlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FlowControlBG2 %>; --w :<%= ((FlowControlLv4/FlowControlCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (FlowControlCount === 0) { %>
                                            W: <%= Math.round(FlowControlLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(FlowControlLv4/FlowControlCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 6-->
                                <div class="card_title">
                                <p class="score_title">Lab 6</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= PointersBG %>; --w :<%= ((PointersScore/PointersCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (PointersCount === 0) { %>
                                            <%= Math.round(PointersScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(PointersScore/PointersCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PointersBG2 %>; --w :<%= ((PointersLv1/PointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PointersCount === 0) { %>
                                           K: <%= Math.round(PointersLv1/1)%>
                                        <% } else { %>
                                           K: <%= Math.round(PointersLv1/PointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PointersBG2 %>; --w :<%= ((PointersLv2/PointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PointersCount === 0) { %>
                                            T: <%= Math.round(PointersLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(PointersLv2/PointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PointersBG2 %>; --w :<%= ((PointersLv3/PointersCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (PointersCount === 0) { %>
                                            E: <%= Math.round(PointersLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(PointersLv3/PointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= PointersBG2 %>; --w :<%= ((PointersLv4/PointersCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (PointersCount === 0) { %>
                                            W: <%= Math.round(PointersLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(PointersLv4/PointersCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"><!-- Lab 7-->
                                <div class="card_title">
                                <p class="score_title">Lab 7</p>
                                <div class="TeacherBar">
                                    <div style="--c: <%= FunctionBG %>; --w :<%= ((FunctionScore/FunctionCount)/40)*100 %>px; " class="TeacherBarValue">
                                        <% if (FunctionCount === 0) { %>
                                            <%= Math.round(FunctionScore/1)%> /40
                                        <% } else { %>
                                            <%= Math.round(FunctionScore/FunctionCount) %>/40
                                        <% }%>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card_title">
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FunctionBG2 %>; --w :<%= ((FunctionLv1/FunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FunctionCount === 0) { %>
                                            K: <%= Math.round(FunctionLv1/1)%>
                                        <% } else { %>
                                            K: <%= Math.round(FunctionLv1/FunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FunctionBG2 %>; --w :<%= ((FunctionLv2/FunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FunctionCount === 0) { %>
                                            T: <%= Math.round(FunctionLv2/1)%>
                                        <% } else { %>
                                            T: <%= Math.round(FunctionLv2/FunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FunctionBG2 %>; --w :<%= ((FunctionLv3/FunctionCount)/5)*100 %>px; " class="TeacherBarValue">
                                        <% if (FunctionCount === 0) { %>
                                            E: <%= Math.round(FunctionLv3/1)%>
                                        <% } else { %>
                                            E: <%= Math.round(FunctionLv3/FunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                                <div class="TeacherBarr">
                                    <div style="--c: <%= FunctionBG2 %>; --w :<%= ((FunctionLv4/FunctionCount)/25)*100 %>px; " class="TeacherBarValue">
                                        <% if (FunctionCount === 0) { %>
                                            W: <%= Math.round(FunctionLv4/1)%>
                                        <% } else { %>
                                            W: <%= Math.round(FunctionLv4/FunctionCount) %>
                                        <% }%>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="card_box"> <!-- Lab 8-->
                                <div class="card_title">
                                    <p class="score_title">Lab 8</p>
                                    <div class="TeacherBar">
                                        <div style="--c: <%= StructureBG %>; --w :<%= ((StructureScore/StructureCount)/40)*100 %>px; " class="TeacherBarValue">
                                            <% if (StructureCount === 0) { %>
                                                <%= Math.round(StructureScore/1)%> /40
                                            <% } else { %>
                                                <%= Math.round(StructureScore/StructureCount) %>/40
                                            <% }%>
                                        </div>
                                    </div>                    
                                </div>
                                <div class="card_title">
                                    <div class="TeacherBarr">
                                        <div style="--c: <%= StructureBG2 %>; --w :<%= ((StructureLv1/StructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                            <% if (StructureCount === 0) { %>
                                                K: <%= Math.round(StructureLv1/1)%>
                                            <% } else { %>
                                                K: <%= Math.round(StructureLv1/StructureCount) %>
                                            <% }%>
                                        </div>
                                    </div>
                                    <div class="TeacherBarr">
                                        <div style="--c: <%= StructureBG2 %>; --w :<%= ((StructureLv2/StructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                            <% if (StructureCount === 0) { %>
                                                T: <%= Math.round(StructureLv2/1)%>
                                            <% } else { %>
                                                T: <%= Math.round(StructureLv2/StructureCount) %>
                                            <% }%>
                                        </div>
                                    </div>
                                    <div class="TeacherBarr">
                                        <div style="--c: <%= StructureBG2 %>; --w :<%= ((StructureLv3/StructureCount)/5)*100 %>px; " class="TeacherBarValue">
                                            <% if (StructureCount === 0) { %>
                                                E: <%= Math.round(StructureLv3/1)%>
                                            <% } else { %>
                                                E: <%= Math.round(StructureLv3/StructureCount) %>
                                            <% }%>
                                        </div>
                                    </div>
                                    <div class="TeacherBarr">
                                        <div style="--c: <%= StructureBG2 %>; --w :<%= ((StructureLv4/StructureCount)/25)*100 %>px; " class="TeacherBarValue">
                                            <% if (StructureCount === 0) { %>
                                                W: <%= Math.round(StructureLv4/1)%>
                                            <% } else { %>
                                                W: <%= Math.round(StructureLv4/StructureCount) %>
                                            <% }%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
            </div>
        </div>
        <hr>
            <div class="col-sm" > <!-- โปรเจคที่ผู้เรียนทำคะแนนได้มากสุด -->
                <div class="group" style="background-color: #cad19f">
                    <!--<div lang="ja">
                        <p class="wrapbox auto">
                            <ol>
                                <h4>โปรเจคที่ผู้เรียนทำคะแนนได้มากสุด</h4>
                                <li><%= sortedProject[0] %></li>
                                <li><%= sortedProject[1] %></li>
                                <li><%= sortedProject[2] %></li>
                              </ol>
                        </p>
                    </div>-->
                    
            </div>
        </div>
    </div>9-<br>


<!-- <script src="/javascripts/chart_teacher.js"></script> -->
</body>

</html>