<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }

        .button {
            padding: 5px;
            color: #ffffff;
            background-color: #b5db9a;
            border-radius: 3px;
            border: solid #444444;
            width: 100px;
            height: 40px;
            margin: 4px 0 0;
            color: #444444;
        }
            
        }
    </style>

    <link rel='stylesheet' href='stylesheets/home.css' />
    <link rel='stylesheet' href='stylesheets/home1.css' />
    <link rel='stylesheet' href='stylesheets/compiler_line.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Home</title>
</head>

<body style="background-color: #cad19f;">
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    <!-- end of Narbar-->

<br><br><br>
    <div id="content" class="container">
    <form action="/check/submit" method="post" autocomplete="off" >
    <input type="hidden" id="idStudent" name="idStudent" value="<%= student[0]._id %>">

        <div class="row align-items-start">
            <div class="col-8">
                <h1>Student answer</h1>
            </div>
        </div>
        
        <%# START %> 
        <div class="card bg-light shadow">
            <div class="card-header">
                <b> <%= student[0].contentName %> </b>  
            </div>
            <div class="card-body">
                <% if(student[0] === "null" ){ %>
                    ไม่มีคำตอบจากผู้เรียน
                        
                    <% } else { %>
                        <div class="row align-items-start">

                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><b>E-mail</b></span>
                                    <span class="input-group-text text-uppercase"><%= student[0].email %> </span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><b>Name</b></span>
                                    <span class="input-group-text text-uppercase"><%= student[0].name %> </span>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><b>เวลาที่ส่ง</b></span>
                                    <span class="input-group-text text-uppercase"><%= student[0].times %></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><b>ครั้งที่ทำ</b></span>
                                    <span class="input-group-text text-uppercase"><%= student[0].timetodo %></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container1">
                                    <button type="button" class="btn btn-outline-dark" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                        ทดสอบโค้ด
                                    </button><br><br>
                                    <p style="font-size: 16px; margin: 0;">กรอกคะแนน</p>
                                        <div class="col d-flex ">
                                            <div class="col1">
                                            <input class="form-check-input" style="width: 100px; height: 40px;" type="number" min="0" max="25" step="0.5" name="studentScore" id="studentScore1" value="" placeholder="0">
                                            <label class="form-check-label " for="studentScore1" title="เงื่อนไข ครบเล็กน้อย"></label>
                                            </div>
                                            <button type="submit"  class="button btn-outline-dark" >ส่งคะแนน</button>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                        <!--ข้อที่ 16-->
                        <div class="">
                            <span class="input-group-text"><b>ข้อ 16</b></span>
                            <iframe src=" <%= student[0].ADRI1 %> " width="50%" height="480" allow="autoplay"></iframe>
                        </div>
                        
                            <div class="col-sm"> 
                                <div class="card-body shadow rounded">
                                    <span ><b>ข้อ 16.1</b> <%= student[0].ADRI1_1 %> </span>
                                    <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].code%></textarea>
                                    <br>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-sm"> 
                                <div class="card-body shadow rounded">
                                    <span ><b>ข้อ 16.2</b> <%= student[0].ADRI1_2 %></span>
                                    <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].expResult16%></textarea>
                                    <br>
                                </div>
                            </div>
                           <!-- <div class="col-sm"> 
                                <div class="card-body shadow rounded">
                                    <span ><b>ผลลัพธ์ที่คาด</b></span>
                                    <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].ImproveResult%></textarea>
                                </div>
                            </div>
                            -->
                            <div class="col-sm">
                            <div class="card-body shadow rounded">
                                <span ><b>ข้อ 16.3</b> <%= student[0].ADRI1_3 %></span>
                                <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink16%></textarea>
                                <br>
                            </div>
                            </div>
                        </div>


                        <br>
                        <!--ข้อที่ 17-->
                        <div class="">
                            <span class="input-group-text"><b>ข้อ 17</b></span>
                            <iframe src=" <%= student[0].ADRI2  %> " width="50%" height="480" allow="autoplay"></iframe>
                        </div>
                    
                        <div class="col-sm"> 
                            <div class="card-body shadow rounded">
                                <span ><b>ข้อ 17.1</b> <%= student[0].ADRI2_1 %></span>
                                <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink171%></textarea>
                                <br>
                            </div>
                        </div>
                    <div class="row">    
                        <div class="col-sm"> 
                            <div class="card-body shadow rounded">
                                <span ><b>ข้อ 17.2</b> <%= student[0].ADRI2_2 %></span>
                                <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].expResult17%></textarea>
                                <br>
                            </div>
                        </div>
                        <div class="col-sm">
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 17.3</b> <%= student[0].ADRI2_3 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink172%></textarea>
                            <br>
                        </div>
                        </div>
                    </div>


                    <br>
                    <!--ข้อที่ 18-->
                    <div class="">
                        <span class="input-group-text"><b>ข้อ 18</b></span>
                        <iframe src=" <%= student[0].ADRI3  %> " width="50%" height="480" allow="autoplay"></iframe>
                    </div>

                
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 18.1</b> <%= student[0].ADRI3_1 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink181%></textarea>
                            <br>
                        </div>
                    </div>
                <div class="row">    
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 18.2</b> <%= student[0].ADRI3_2 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].expResult18%></textarea>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm">
                    <div class="card-body shadow rounded">
                        <span ><b>ข้อ 18.3</b> <%= student[0].ADRI3_3 %></span>
                        <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink182%></textarea>
                        <br>
                    </div>
                    </div>
                </div>

                
                <br>
                <!--ข้อที่ 19-->
                <div class="">
                    <span class="input-group-text"><b>ข้อ 19</b></span>
                    <iframe src=" <%= student[0].ADRI4  %> " width="50%" height="480" allow="autoplay"></iframe>
                </div>

                
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 19.1</b> <%= student[0].ADRI4_1 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink191%></textarea>
                            <br>
                        </div>
                    </div>
                <div class="row">    
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 19.2</b> <%= student[0].ADRI4_2 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].expResult19%></textarea>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm">
                    <div class="card-body shadow rounded">
                        <span ><b>ข้อ 19.3</b> <%= student[0].ADRI4_3 %></span>
                        <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink192%></textarea>
                        <br>
                    </div>
                    </div>
                </div>


                <br>
                <!--ข้อที่ 20-->
                <div class="">
                    <span class="input-group-text"><b>ข้อ 20</b></span>
                    <iframe src=" <%= student[0].ADRI5  %> " width="50%" height="480" allow="autoplay"></iframe>
                </div>
                
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 20.1</b> <%= student[0].ADRI5_1 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink201%></textarea>
                            <br>
                        </div>
                    </div>
                <div class="row">    
                    <div class="col-sm"> 
                        <div class="card-body shadow rounded">
                            <span ><b>ข้อ 20.2</b> <%= student[0].ADRI5_2 %></span>
                            <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].expResult20%></textarea>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card-body shadow rounded">
                        <span ><b>ข้อ 20.3</b> <%= student[0].ADRI5_3 %></span>
                        <textarea style="height: 100%" class="form-control" id="code" name="code" rows="10" ><%= student[0].sendLink202%></textarea>
                        <br>
                    </div>
                </div>

                
                    
                
            </div>
        </div>
    </div>    

        <% } %>
        <%# END %> 

 

</form> 
<br>

<!-- Modal CODE -->        

      
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Online compiler</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <iframe src="https://www.programiz.com/c-programming/online-compiler/" width="100%" height="500px"></iframe>
        </div>   

        <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg btn-block" data-bs-dismiss="modal">ปิด</button>
        </div>
    </div>
    </div>
</div>

<script src="javascripts/compilerStyle.js"></script>
</body>

</html>