<style>
    .status_w {
        width: 70px;
        height: 25px;
        background-color: #fff;
        margin-right: 5px;
        text-align: center;
    }
    .status {
        width: 70px;
        height: 25px;
        background-color: #66B7BD;
        margin-right: 5px;
        text-align: center;
    }
</style>
<h1>Student</h1>
    <div class="box mb-5 shadow" style="background-color: #bd7b67;;">
        <table class="table" style="background-color: #eaeaea;">
            <thead>
              <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Student</th>
                <!--<th scope="col-1" class="col-2">Class</th>-->
                <th scope="col" class="col-2 text-start">Project</th>
                <th scope="col" class="col-3 text-start">Score</th>
                <th scope="col" class="col-4 text-start">Chart</th>
                </th>
              </tr>
            </thead>  
            <tbody>
                <% for (let i = 0; i < Object.keys(Studentresult).length; i++) {   %>
                                <th scope="row"><%=i+1%></th>
                                <td><div class="info">Email</div> <%=Studentresult[i].email %> <br>
                                    <div class="info">Name</div> <%=Studentresult[i].name %> <br>
                                    <div class="info">Course</div> <%=Studentresult[i].Course %> <br>
                                    <div class="info">Section</div> <%=Studentresult[i].Section %>
                                </td>
                                
                                <td class="text-start">
                                    <span class="quiz">Project QUIZ1 </span>
                                    <br> &nbsp &nbsp| <%=Studentresult[i].TicketBookingSystem %> <br>
                                    <span class="quiz">Project QUIZ2 </span>
                                    <br> &nbsp &nbsp| <%=Studentresult[i].PointofSalesSystem %> <br> 
                                    <span class="quiz">Project QUIZ3 </span>
                                    <br> &nbsp &nbsp| <%=Studentresult[i].Project_QUIZ3 %> <br>
                                
                                </td>
                                <td class="text-start">
                                    <% if(Studentresult[i].infoPrePostTest != undefined){ %>
                                <% } else{ %>  
                                    <span class="quiz">Algorithms and Flowcharts</span>
                                    <% if (Studentresult[i].pre_Algorithms_and_Flowcharts === "ยังไม่ได้ทำ") { %>
                                        <div style="display: flex;">
                                            <div class="status_w">Pretest</div>
                                            <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total:<%=Studentresult[i].pre1lv1+Studentresult[i].pre1lv2+Studentresult[i].pre1lv3+Studentresult[i].pre1lv4 %>
                                        </div> 
                                    <% }else{ %>
                                        <div style="display: flex;">
                                            <div class="status">Pretest</div>
                                            <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total:<%=Studentresult[i].pre1lv1+Studentresult[i].pre1lv2+Studentresult[i].pre1lv3+Studentresult[i].pre1lv4 %>
                                        </div> 
                                    <% }%>
                                    <% if (Studentresult[i].post_Algorithms_and_Flowcharts === "ยังไม่ได้ทำ") { %>
                                        <div style="display: flex;">
                                            <div class="status_w">Posttest</div>
                                            <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total:<%=Studentresult[i].post1lv1+Studentresult[i].post1lv2+Studentresult[i].post1lv3+Studentresult[i].post1lv4 %>
                                        </div> 
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total:<%=Studentresult[i].post1lv1+Studentresult[i].post1lv2+Studentresult[i].post1lv3+Studentresult[i].post1lv4 %>
                                            </div> 
                                        <% }%>
                                    
                                    
                                    <span class="quiz">Datatype and Variable</span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total:<%=Studentresult[i].pre2lv1+Studentresult[i].pre2lv2+Studentresult[i].pre2lv3+Studentresult[i].pre2lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Datatype_and_Variable %>  --- Total:<%=Studentresult[i].post2lv1+Studentresult[i].post2lv2+Studentresult[i].post2lv3+Studentresult[i].post2lv4 %>
                                    <span class="quiz">Input and Output</span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Input_and_Output %> --- Total:<%=Studentresult[i].pre3lv1+Studentresult[i].pre3lv2+Studentresult[i].pre3lv3+Studentresult[i].pre3lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Input_and_Output %> --- Total:<%=Studentresult[i].post3lv1+Studentresult[i].post3lv2+Studentresult[i].post3lv3+Studentresult[i].post3lv4 %>
                                    <span class="quiz">Operators and Expressions</span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total:<%=Studentresult[i].pre4lv1+Studentresult[i].pre4lv2+Studentresult[i].pre4lv3+Studentresult[i].pre4lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Operators_and_Expressions %> --- Total:<%=Studentresult[i].post4lv1+Studentresult[i].post4lv2+Studentresult[i].post4lv3+Studentresult[i].post4lv4 %>
                                    <span class="quiz">Selection Statements </span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Selection_Statements %> --- Total:<%=Studentresult[i].pre5lv1+Studentresult[i].pre5lv2+Studentresult[i].pre5lv3+Studentresult[i].pre5lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Selection_Statements %> --- Total:<%=Studentresult[i].post5lv1+Studentresult[i].post5lv2+Studentresult[i].post5lv3+Studentresult[i].post5lv4 %>
                                    <span class="quiz">Loop Statements</span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].pre6lv1+Studentresult[i].pre6lv2+Studentresult[i].pre6lv3+Studentresult[i].pre6lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].post6lv1+Studentresult[i].post6lv2+Studentresult[i].post6lv3+Studentresult[i].post6lv4 %>
                                    <span class="quiz">Arrays and Strings</span>
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total:<%=Studentresult[i].pre7lv1+Studentresult[i].pre7lv2+Studentresult[i].pre7lv3+Studentresult[i].pre7lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Arrays_and_Strings %> --- Total:<%=Studentresult[i].post7lv1+Studentresult[i].post7lv2+Studentresult[i].post7lv3+Studentresult[i].post7lv4 %>
                                    <span class="quiz">Functions</span> 
                                    <br> &nbsp &nbspPretest | <%=Studentresult[i].pre_Functions %> --- Total:<%=Studentresult[i].pre8lv1+Studentresult[i].pre8lv2+Studentresult[i].pre8lv3+Studentresult[i].pre8lv4 %>
                                    <br> &nbsp &nbspPosttest | <%=Studentresult[i].post_Functions %> --- Total:<%=Studentresult[i].post8lv1+Studentresult[i].post8lv2+Studentresult[i].post8lv3+Studentresult[i].post8lv4 %>
                                <% } %>
                            </td>
                                <td>
                                    <div style="font-size: 12px;">K = Knowledge, T = Tracing, <br>E = Explaining, W = Writing</div> <br>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">pre-K</div>
                                        <div style="font-size: 12px;"></div><progress  max="100" value=<%= Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1 %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/40)*100) %>%</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">post-K</div>
                                        <progress  max="100" value=<%= Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1 %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/40)*100) %>%</div>
                                    </div>
                                    <br>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">pre-T</div>
                                        <progress  max="100" value=<%= Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2 %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/40)*100) %>%</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">post-T</div>
                                        <progress  max="100" value=<%= Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2 %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/40)*100) %>%</div>
                                    </div>
                                    <br>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">pre-E</div>
                                        <progress  max="100" value=<%= Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3 %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/40)*100) %>%</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">post-E</div>
                                        <progress  max="100" value=<%= Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3 %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/40)*100) %>%</div>
                                    </div>
                                    <br>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">pre-W</div>
                                        <progress  max="100" value=<%= Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4 %>  class="bar1 "></progress>     
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/200)*100) %>%</div>                                  
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 70px;">post-W</div>
                                        <progress  max="100" value=<%= Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4 %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= Math.round(((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/200)*100) %>%</div>
                                    </div>
                                    <br>
                                    
                                </td>
                                </tr>
                          <% } %>
            </tbody>
        </table>
    </div>