<style>
    .status_n {
        width: 70px;
        height: 25px;
        background-color: #fff;
        margin-right: 5px;
        text-align: center;
    }
    .status_w {
        width: 70px;
        height: 25px;
        background-color: #ffd75e;
        margin-right: 5px;
        text-align: center;
    }
    .status {
        width: 70px;
        height: 25px;
        background-color: #a6f07f;
        margin-right: 5px;
        text-align: center;
    }
    .head {
        width: 100%; 
        background-color: #dea695;
        padding-left: 5px;
    }
    img {
        width: 200px;
    }
</style>
<h1>Student</h1>

    <div class="box mb-5 shadow" style="background-color: #bd7b67;;">
        <table class="table" style="background-color: #eaeaea;">
            <thead>
              <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Student</th>
                <!--<th scope="col-1" class="col-2">Class</th>-->
                <th scope="col" class="col-2 text-start">Project Quiz</th>
                <th scope="col" class="col-3 text-start">Lab Score</th>
                <th scope="col" class="col-4 text-start">Average Score</th>
                </th>
              </tr>
            </thead>  

            <tbody>
                <% for (let i = 0; i < Object.keys(Studentresult).length; i++) {   %>
                                <th scope="row"><%=i+1%></th>
                                <td>
                                    <div class="info">Email</div> <%=Studentresult[i].email %> <br>
                                    <div class="info">Name</div> <%=Studentresult[i].name %> <br>
                                    <div class="info">Course</div> <%=Studentresult[i].Course %> <br>
                                    <div class="info">Section</div> <%=Studentresult[i].Section %> <br><br><br>
                                    <div class="character-box">
                                        <div class="character-box"><!-- Character -->
                                            <h4 class="chakra-petch-regular">Character</h4>  
                                            <div class="Character" style="position: relative; padding: 10px; min-height: 300px; display: flex; flex-direction: column; justify-content: center;">
                                                <% 
                                                try {
                                                    // DEBUG MODE - เปลี่ยนเป็น true เพื่อแสดงรายละเอียดการคำนวณ
                                                    const DEBUG_MODE = false;
                                                    
                                                    /**
                                                     * ฟังก์ชันสำหรับตรวจสอบและจำกัดค่าให้อยู่ในช่วงที่กำหนด
                                                     * @param {number|any} value - ค่าที่ต้องการตรวจสอบ
                                                     * @param {number} min - ค่าต่ำสุดที่อนุญาต
                                                     * @param {number} max - ค่าสูงสุดที่อนุญาต
                                                     * @return {number} - ค่าที่ถูกต้องในช่วงที่กำหนด หรือ NaN ถ้าค่าไม่ถูกต้อง
                                                     */
                                                    function validateScore(value, min, max) {
                                                        if (typeof value !== 'number' || isNaN(value)) {
                                                            return NaN;
                                                        }
                                                        return Math.max(min, Math.min(max, value));
                                                    }
                                                    
                                                    // ตรวจสอบและแปลงคะแนนดิบ
                                                    // ตามที่ระบุไว้ไม่ต้องแก้ไขในส่วนของค่า NaN จึงยังคงใช้ isNaN ตามเดิม
                                                    const originalBasic = typeof Studentresult !== 'undefined' ? (Studentresult[i].post_k || 0) : (BasicPercent || 0);
                                                    const originalTrace = typeof Studentresult !== 'undefined' ? (Studentresult[i].post_t || 0) : (TracePercent || 0);
                                                    const originalExplain = typeof Studentresult !== 'undefined' ? (Studentresult[i].post_e || 0) : (ExplainPercent || 0);
                                                    const originalWrite = typeof Studentresult !== 'undefined' ? (Studentresult[i].post_w || 0) : (WritePercent || 0);
                                                    
                                                    const isBasicNaN = typeof originalBasic !== 'number' || isNaN(originalBasic);
                                                    const isTraceNaN = typeof originalTrace !== 'number' || isNaN(originalTrace);
                                                    const isExplainNaN = typeof originalExplain !== 'number' || isNaN(originalExplain);
                                                    const isWriteNaN = typeof originalWrite !== 'number' || isNaN(originalWrite);
                                                    
                                                    // คะแนนสำหรับแต่ละด้าน - จำกัดไม่ให้ต่ำกว่า 0
                                                    // ใช้ validateScore เพื่อให้มั่นใจว่าคะแนนอยู่ในช่วงที่ถูกต้อง
                                                    const maxKnowledgeScore = 40;
                                                    const maxTracingScore = 40;
                                                    const maxExplainingScore = 40;
                                                    const maxWritingScore = 200;
                                                    
                                                    let basicScore = isBasicNaN ? 0 : validateScore(originalBasic, 0, maxKnowledgeScore);
                                                    let traceScore = isTraceNaN ? 0 : validateScore(originalTrace, 0, maxTracingScore);
                                                    let explainScore = isExplainNaN ? 0 : validateScore(originalExplain, 0, maxExplainingScore);
                                                    let writeScore = isWriteNaN ? 0 : validateScore(originalWrite, 0, maxWritingScore);
                                                    
                                                    // คำนวณคะแนน Writing ที่ถูกต้อง - ปรับเป็นคะแนนเทียบจาก 200 เป็น 40
                                                    const adjustedWriteScore = !isWriteNaN ? (writeScore / maxWritingScore) * 40 : 0;
                                                    
                                                    /**
                                                     * คำนวณคะแนนรวมจากทุกด้าน
                                                     * @return {Object} - วัตถุที่มีคะแนนรวมและเงื่อนไขต่างๆ
                                                     */
                                                    function calculateTotalScore() {
                                                        // คำนวณคะแนนรวม
                                                        const totalScore = basicScore + traceScore + explainScore + adjustedWriteScore;
                                                        const displayTotalScore = Math.round(totalScore);
                                                        
                                                        // คะแนนเต็มและเกณฑ์สำหรับ Rookie และ King
                                                        const maxDisplayScore = 160; // คะแนนเต็ม (40 x 4)
                                                        const rookieThreshold = 0.2 * maxDisplayScore; // 32
                                                        const kingThreshold = 0.8 * maxDisplayScore; // 128
                                                        
                                                        // จำนวนคะแนนที่มีค่า (ไม่เป็น NaN)
                                                        const validScoreCount = 
                                                            (isBasicNaN ? 0 : 1) + 
                                                            (isTraceNaN ? 0 : 1) + 
                                                            (isExplainNaN ? 0 : 1) + 
                                                            (isWriteNaN ? 0 : 1);
                                                        
                                                        // ตรวจสอบว่าทุกด้านมีคะแนนน้อยกว่า 20% หรือไม่
                                                        const rookieBasicThreshold = 0.2 * maxKnowledgeScore; // 8
                                                        const rookieTraceThreshold = 0.2 * maxTracingScore; // 8
                                                        const rookieExplainThreshold = 0.2 * maxExplainingScore; // 8
                                                        const rookieWriteThreshold = 0.2 * maxWritingScore; // 40
                                                        
                                                        const isAllBelowRookieThreshold = 
                                                            (isBasicNaN || basicScore < rookieBasicThreshold) && 
                                                            (isTraceNaN || traceScore < rookieTraceThreshold) && 
                                                            (isExplainNaN || explainScore < rookieExplainThreshold) && 
                                                            (isWriteNaN || writeScore < rookieWriteThreshold);
                                                        
                                                        return {
                                                            totalScore,
                                                            displayTotalScore,
                                                            maxDisplayScore,
                                                            rookieThreshold,
                                                            kingThreshold,
                                                            validScoreCount,
                                                            isAllBelowRookieThreshold
                                                        };
                                                    }
                                                    
                                                    /**
                                                     * ตรวจสอบจำนวนคะแนนที่เท่ากันและมีค่าสูงสุด
                                                     * @return {Object} - ข้อมูลเกี่ยวกับคะแนนสูงสุด
                                                     */
                                                    function analyzeHighestScores() {
                                                        // คำนวณเปอร์เซ็นต์ของแต่ละด้าน
                                                        const percentScores = [];
                                                        
                                                        if (!isBasicNaN) {
                                                            percentScores.push({ 
                                                                type: 'basic', 
                                                                label: 'Knowledge',
                                                                value: basicScore / maxKnowledgeScore,
                                                                roundedValue: Math.round((basicScore / maxKnowledgeScore) * 1000) / 1000
                                                            });
                                                        }
                                                        
                                                        if (!isTraceNaN) {
                                                            percentScores.push({ 
                                                                type: 'trace', 
                                                                label: 'Tracing',
                                                                value: traceScore / maxTracingScore,
                                                                roundedValue: Math.round((traceScore / maxTracingScore) * 1000) / 1000
                                                            });
                                                        }
                                                        
                                                        if (!isExplainNaN) {
                                                            percentScores.push({ 
                                                                type: 'explain', 
                                                                label: 'Explaining',
                                                                value: explainScore / maxExplainingScore,
                                                                roundedValue: Math.round((explainScore / maxExplainingScore) * 1000) / 1000
                                                            });
                                                        }
                                                        
                                                        if (!isWriteNaN) {
                                                            percentScores.push({ 
                                                                type: 'write', 
                                                                label: 'Writing',
                                                                value: writeScore / maxWritingScore,
                                                                roundedValue: Math.round((writeScore / maxWritingScore) * 1000) / 1000
                                                            });
                                                        }
                                                        
                                                        // เรียงลำดับคะแนนจากมากไปน้อย
                                                        percentScores.sort((a, b) => b.roundedValue - a.roundedValue);
                                                        
                                                        // ถ้าไม่มีคะแนนใดๆ
                                                        if (percentScores.length === 0) {
                                                            return {
                                                                highestScore: null,
                                                                tiedHighestCount: 0,
                                                                percentScores: []
                                                            };
                                                        }
                                                        
                                                        const highestScore = percentScores[0];
                                                        
                                                        // นับจำนวนคะแนนที่เท่ากับคะแนนสูงสุด (ใช้ค่าที่ปัดเศษแล้ว)
                                                        // ใช้ความแม่นยำ 3 ตำแหน่งเพื่อหลีกเลี่ยงปัญหาทศนิยมที่ไม่แน่นอน
                                                        const tiedHighestCount = percentScores.filter(
                                                            score => score.roundedValue === highestScore.roundedValue
                                                        ).length;
                                                        
                                                        return {
                                                            highestScore,
                                                            tiedHighestCount,
                                                            percentScores
                                                        };
                                                    }
                                                    
                                                    /**
                                                     * กำหนดตัวละครตามคะแนนและเงื่อนไข
                                                     * @return {Object} - ข้อมูลตัวละคร
                                                     */
                                                    function determineCharacter() {
                                                        const score = calculateTotalScore();
                                                        const highestScoreData = analyzeHighestScores();
                                                        
                                                        // ตัวแปรเก็บข้อมูลตัวละคร
                                                        let characterName = "";
                                                        let imageNumber = "";
                                                        let altText = "";
                                                        
                                                        // เริ่มตรวจสอบเงื่อนไขจากกรณีพิเศษเพื่อลดความซับซ้อน
                                                        
                                                        // กรณี 1: ถ้าไม่มีคะแนนใดๆ หรือทุกคะแนนเป็น NaN
                                                        if (score.validScoreCount === 0) {
                                                            characterName = "Rookie";
                                                            imageNumber = "5";
                                                            altText = "Rookie - No Valid Scores";
                                                        }
                                                        // กรณี 2: ถ้าคะแนนสูงมาก (80% ขึ้นไป) ให้เป็น KING
                                                        else if (score.displayTotalScore >= score.kingThreshold) { 
                                                            characterName = "KING";
                                                            imageNumber = "6";
                                                            altText = "KING - High Score";
                                                        }
                                                        // กรณี 3: ถ้าคะแนนต่ำมาก (ทุกด้านต่ำกว่า 20% หรือคะแนนรวมต่ำกว่า 20%)
                                                        else if (score.isAllBelowRookieThreshold || score.displayTotalScore < score.rookieThreshold) {
                                                            characterName = "Rookie";
                                                            imageNumber = "5";
                                                            altText = "Rookie - Low Score";
                                                        }
                                                        // กรณี 4: ถ้ามีคะแนนสูงสุดเท่ากัน 3-4 ด้าน
                                                        else if (highestScoreData.tiedHighestCount === score.validScoreCount && score.validScoreCount >= 3) {
                                                            characterName = "Queen";
                                                            imageNumber = "8";
                                                            altText = "Queen - Balanced (3-4 skills)";
                                                        }
                                                        // กรณี 5: ถ้ามีคะแนนสูงสุดเท่ากัน 2 ด้าน
                                                        else if (highestScoreData.tiedHighestCount === score.validScoreCount && score.validScoreCount === 2) {
                                                            characterName = "Knight";
                                                            imageNumber = "7";
                                                            altText = "Knight - Dual Skills";
                                                        }
                                                        // กรณี 6: กรณีทั่วไป - มีด้านใดด้านหนึ่งโดดเด่น
                                                        else if (highestScoreData.highestScore) {
                                                            const highestType = highestScoreData.highestScore.type;
                                                            characterName = highestScoreData.highestScore.label;
                                                            
                                                            if (highestType === 'basic') {
                                                                imageNumber = "2";
                                                            } else if (highestType === 'trace') {
                                                                imageNumber = "3";
                                                            } else if (highestType === 'explain') {
                                                                imageNumber = "1";
                                                            } else if (highestType === 'write') {
                                                                imageNumber = "4";
                                                            }
                                                            
                                                            altText = characterName + " Specialist";
                                                        }
                                                        // กรณี 7: กรณีอื่นๆ ที่ไม่ตรงกับเงื่อนไขข้างต้น (ไม่ควรเกิดขึ้น แต่เผื่อไว้)
                                                        else {
                                                            characterName = "Rookie";
                                                            imageNumber = "5";
                                                            altText = "Rookie - Default Case";
                                                        }
                                                        
                                                        return {
                                                            characterName,
                                                            imageNumber,
                                                            altText,
                                                            scoreData: score,
                                                            highestScoreData: highestScoreData
                                                        };
                                                    }
                                                    
                                                    // ดำเนินการคำนวณและกำหนดตัวละคร
                                                    const characterData = determineCharacter();
                                                    const scoreData = characterData.scoreData;
                                                    
                                                    // รวบรวมข้อมูลสำหรับแสดงผล
                                                    const basePaths = [
                                                        "/public/images", 
                                                        "/images",        
                                                        "../images",       
                                                        "./public/images", 
                                                        "./images"         
                                                    ];
                                                    
                                                    // กำหนดเส้นทางไฟล์ภาพ
                                                    const primaryImagePath = `${basePaths[0]}/${characterData.imageNumber}.png`;
                                                        
                                                    // รายละเอียดคะแนนสำหรับการตรวจสอบ
                                                    const scoreDetails = `K: ${basicScore.toFixed(1)}/${maxKnowledgeScore}, T: ${traceScore.toFixed(1)}/${maxTracingScore}, E: ${explainScore.toFixed(1)}/${maxExplainingScore}, W: ${writeScore.toFixed(1)}/${maxWritingScore}`;
                                                    const adjustedWritingDetails = `Writing คิดเป็น ${adjustedWriteScore.toFixed(1)}/40 (${((writeScore/maxWritingScore)*100).toFixed(1)}%)`;
                                                    const calculationDetails = `Total = ${basicScore.toFixed(1)} + ${traceScore.toFixed(1)} + ${explainScore.toFixed(1)} + ${adjustedWriteScore.toFixed(1)} = ${scoreData.totalScore.toFixed(1)}`;
                                                %>
                                                    <!-- แสดงรูปตัวละคร -->
                                                    <div style="text-align: center;">
                                                        <img 
                                                            src="<%= primaryImagePath %>" 
                                                            alt="<%= characterData.altText %>" 
                                                            onerror="
                                                                if (!this.dataset.triedCount) { this.dataset.triedCount = 0; }
                                                                const basePaths = ['/public/images', '/images', '../images', './public/images', './images'];
                                                                const imageNumber = '<%= characterData.imageNumber %>';
                                                                if (parseInt(this.dataset.triedCount) < basePaths.length - 1) {
                                                                    this.dataset.triedCount = parseInt(this.dataset.triedCount) + 1;
                                                                    this.src = basePaths[this.dataset.triedCount] + '/' + imageNumber + '.png';
                                                                } else {
                                                                    // If all paths fail, show text instead of image
                                                                    this.style.display = 'none';
                                                                    this.nextElementSibling.style.display = 'block';
                                                                }
                                                            "
                                                            style="max-width: 90%; height: auto; object-fit: contain; display: block; margin: 0 auto; max-height: 450px;"
                                                        />
                                                        
                                                        <!-- Fallback text if image fails to load (hidden by default) -->
                                                        <div style="display: none; font-size: 48px; font-weight: bold; text-align: center; padding: 20px;">
                                                            <%= characterData.characterName %>
                                                        </div>
                                                        
                                                        <!-- ซ่อนรายละเอียดคะแนน (แสดงเมื่ออยู่ในโหมด DEBUG) -->
                                                        <div style="<%= DEBUG_MODE ? 'display: block;' : 'display: none;' %> text-align: center; font-size: 0.8em; color: #666; border-top: 1px dashed #ccc; padding-top: 5px;">
                                                            <h4>DEBUG INFO</h4>
                                                            <%= scoreDetails %><br>
                                                            <%= adjustedWritingDetails %><br>
                                                            <%= calculationDetails %><br>
                                                            Total Score: <%= scoreData.displayTotalScore %> / <%= scoreData.maxDisplayScore %><br>
                                                            Valid Score Count: <%= scoreData.validScoreCount %><br>
                                                            Character: <%= characterData.characterName %> (Image: <%= characterData.imageNumber %>)<br>
                                                            Highest Type: <%= characterData.highestScoreData.highestScore ? characterData.highestScoreData.highestScore.type : 'none' %><br>
                                                            Tied Count: <%= characterData.highestScoreData.tiedHighestCount %>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- CSS สำหรับจัดการแสดงผล -->
                                                    <style>
                                                        /* เพิ่ม CSS เพื่อซ่อนหรือกำหนดตำแหน่งใหม่สำหรับส่วนที่อาจมีการแสดงคะแนนรวมด้านข้าง */
                                                        .Total-Score-Side {
                                                            display: none !important;
                                                        }
                                                        
                                                        /* จัดให้ Character อยู่ในกรอบ */
                                                        .character-box {
                                                            box-sizing: border-box;
                                                        }
                                                        
                                                        .Character {
                                                            box-sizing: border-box;
                                                            overflow: hidden;
                                                            min-height: 340px; /* เพิ่มความสูงขั้นต่ำ */
                                                            padding: 15px; /* เพิ่ม padding */
                                                        }
                                                        
                                                        /* ขยายขนาดของรูปภาพตัวละคร */
                                                        .Character img {
                                                            max-width: 100% !important; /* แทนที่ค่า max-width เดิม */
                                                            width: auto;
                                                            height: auto;
                                                            max-height: 450px !important; /* เพิ่มความสูงสูงสุด */
                                                            object-fit: contain;
                                                            display: block;
                                                            margin: 0 auto;
                                                        }
                                                    </style>
                                                <%
                                                } catch (error) { 
                                                    // บันทึกข้อผิดพลาดที่พบ
                                                    const errorMessage = error.message || "Unknown error";
                                                    const errorStack = error.stack || "";
                                                %>
                                                    <div style="text-align: center; flex-grow: 1; display: flex; flex-direction: column; justify-content: center;">
                                                        <div style="font-size: 48px; font-weight: bold; text-align: center; padding: 20px;">
                                                            Rookie
                                                        </div>
                                                        <div style="text-align: center; font-size: 0.8em; color: red; display: none;">
                                                            Error: <%= errorMessage %>
                                                            <pre style="text-align: left; font-size: 0.9em; max-height: 100px; overflow: auto; background: #f5f5f5; padding: 5px; margin-top: 5px;">
                                                                <%= errorStack %>
                                                            </pre>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                </td>
                                <td class="text-start"> <!-- Project Quiz -->
                                    <span class="quiz">Project QUIZ1 </span>
                                    <div>
                                        <% if(Studentresult[i].TicketBookingSystem != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].TicketBookingSystem === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].TicketBookingSystem %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].TicketBookingSystem %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].TicketBookingSystem %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Project QUIZ2 </span>
                                    <div>
                                        <% if(Studentresult[i].PointofSalesSystem != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].PointofSalesSystem === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].PointofSalesSystem %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].PointofSalesSystem %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].PointofSalesSystem %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Project QUIZ3 </span>
                                    <div>
                                        <% if(Studentresult[i].Project_QUIZ3 != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Project_QUIZ3 === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].Project_QUIZ3 %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].Project_QUIZ3 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].Project_QUIZ3 %>
                                            </div> 
                                        <% }%>
                                    </div>
                                
                                </td>
                                <td class="text-start"> <!-- Lab Score -->
                                    <% if(Studentresult[i].infoPrePostTest != undefined){ %>
                                    <% } else{ %>  
                                    <span class="quiz">Algorithms and Flowcharts</span>
                                    <div>
                                    <% if (Studentresult[i].pre_Algorithms_and_Flowcharts != "ยังไม่ทำ") { %> 
                                        <% if (Studentresult[i].Pretest1S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                            </div> 
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status">Pretest</div>
                                                <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                            </div> 
                                        <% }%>
                                    <% }else{ %>
                                        <div style="display: flex;">
                                            <div class="status_n">Pretest</div>
                                            <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                        </div> 
                                    <% }%>
                                    
                                    <% if (Studentresult[i].post_Algorithms_and_Flowcharts != "ยังไม่ทำ") { %>
                                        <% if (Studentresult[i].Posttest1S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }%>
                                    <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Datatype and Variable</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Datatype_and_Variable != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest2S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total:<%=Studentresult[i].Pretest2 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total: <%=Studentresult[i].Pretest2 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total:<%=Studentresult[i].Pretest2 %>
                                            </div> 
                                        <% }%>
                                        <% if (Studentresult[i].post_Datatype_and_Variable != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest2S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Datatype_and_Variable %>  --- Total:<%=Studentresult[i].Posttest2 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Datatype_and_Variable %> --- Total: <%=Studentresult[i].Posttest2 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Datatype_and_Variable %>  --- Total:<%=Studentresult[i].Posttest2 %>
                                                </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Input and Output</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Input_and_Output != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest3S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Input_and_Output %> --- Total:<%=Studentresult[i].Pretest3 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Input_and_Output %> --- Total: <%=Studentresult[i].Pretest3 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Input_and_Output %> --- Total:<%=Studentresult[i].Pretest3 %>
                                            </div> 
                                        <% }%>
                                        <% if (Studentresult[i].post_Input_and_Output != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest3S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Input_and_Output %> --- Total:<%=Studentresult[i].Posttest3 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Input_and_Output %> --- Total: <%=Studentresult[i].Posttest3 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Input_and_Output %> --- Total:<%=Studentresult[i].Posttest3 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Operators and Expressions</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Operators_and_Expressions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest4S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Pretest4 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total: <%=Studentresult[i].Pretest4 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Pretest4 %>
                                            </div> 
                                        <% }%>

                                        <% if (Studentresult[i].post_Operators_and_Expressions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest4S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Posttest4 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Operators_and_Expressions %> --- Total: <%=Studentresult[i].Posttest4 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Posttest4 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Selection Statements </span>
                                    <div>
                                        <% if (Studentresult[i].pre_Selection_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest5S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Selection_Statements %> --- Total:<%=Studentresult[i].Pretest5 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Selection_Statements %> --- Total: <%=Studentresult[i].Pretest5 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Selection_Statements %> --- Total:<%=Studentresult[i].Pretest5 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Selection_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest5S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Selection_Statements %> --- Total:<%=Studentresult[i].Posttest5 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Selection_Statements %> --- Total: <%=Studentresult[i].Posttest5 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Selection_Statements %> --- Total:<%=Studentresult[i].Posttest5 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Loop Statements</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Loop_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest6S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                                </div> 
                                                <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Loop_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest6S === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                                <% } %>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Arrays and Strings</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Arrays_and_Strings != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest7S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Pretest7 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total: <%=Studentresult[i].Pretest7 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Pretest7 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Arrays_and_Strings != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest7S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Posttest7 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Arrays_and_Strings %> --- Total: <%=Studentresult[i].Posttest7 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Posttest7 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Functions</span> 
                                    <div>
                                        <% if (Studentresult[i].pre_Functions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest8S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Functions %> --- Total:<%=Studentresult[i].Pretest8 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Functions %> --- Total: <%=Studentresult[i].Pretest8 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Functions %> --- Total:<%=Studentresult[i].Pretest8 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Functions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest8S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status">Posttest</div>
                                                <%=Studentresult[i].post_Functions %> --- Total:<%=Studentresult[i].Posttest8 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Functions %> --- Total: <%=Studentresult[i].Posttest8 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Functions %> --- Total:<%=Studentresult[i].Posttest8 %>
                                                </div> 
                                            <% }%>
                                    </div>


                                <% } %>
                                </td>
                                <td> <!-- Average Score -->
                                    <div style="font-size: 12px;">K = Knowledge, T = Tracing, <br>E = Explaining, W = Writing</div> <br>
                                    <div class="head">คะแนน Pre-test</div>
                                    <div style="display: flex;"> 
                                        <div style="width: 50px;">&ensp;K</div>
                                        <div style="font-size: 12px;"></div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;T</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;E</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;W</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)/25)*100) %>  class="bar1 "></progress>     
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)) %>/25</div>                                  
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)/25)*100) %>%)</div>   
                                    </div>
                                    <br>
                                    <div class="head">คะแนน Post-test</div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;K</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;T</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;"><%= Math.round((((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)/5)*100) %>%</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;E</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;W</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)/25)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)) %>/25</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)/25)*100) %>%)</div>
                                    </div>
                                    <br>
                                    
                                </td>
                                </tr>
                          <% } %>
            </tbody>
        </table>
    </div>