<h1>Student</h1>
    <script src="javascripts/gamequiz.js"></script>
    <div class="box mb-5 shadow" style="background-color: #E2D9E5;">
        
        <table class="table" style="background-color: #9C7EB7;">
            <thead>
              <tr>
                
                <th scope="col" class="col-0">#</th>
                <th scope="col-1" class="col-1"><%=Studentresult[0].email %></th>
                <th scope="col-1" class="col-1"><%=Studentresult[0].ClassName %></th>
                <th scope="col" class="col-3 text-start">Project</th>
                <th scope="col" class="col-2 text-start">Score</th>
                <th scope="col" class="col-5 text-start">Chart</th>
                
              </tr>
            </thead>
            <tbody>
                <% 
                    if(Object.keys(Studentresult).length === 1) {   
                        %>
                          
                            <td class="text-start">
                                Project QUIZ1 | <%=Studentresult[0].TicTacToe %> <br>
                                Project QUIZ2 | <%=Studentresult[0].LibrarySystem %> <br> 
                                Project QUIZ3 | <%=Studentresult[0].Roshambo %> <br>
                            </td>
                            <td class="text-start">
                                <% if(Studentresult[0].infoPrePostTest != undefined){ %>
                                <% } else{ %>  
                                    Algorithms and Flowcharts :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Introduction %> <br>
                                    Datatype and Variable :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].String %> <br>
                                    Input and Output :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Datatype %> <br> 
                                    Operators and Expressions :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Operators %> <br>
                                    Selection Statements  :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].FlowControl %> <br> 
                                    Loop Statements  :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Loop %> <br> 
                                    Arrays and Strings :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Pointers %> <br>
                                    Functions : 
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[0].Function %> <br>                                 
                                <% } %>
                            </td>
                            <td class="text-start">
                                Project QUIZ1 | <%=Studentresult[0].TicTacToe %> <br>
                                Project QUIZ2 | <%=Studentresult[0].LibrarySystem %> <br> 
                                Project QUIZ3 | <%=Studentresult[0].Roshambo %> <br>
                            </td>
                        <%
                    } 
                    else {
                        for (let i = 0; i < Object.keys(Studentresult).length; i++) {   
                            %>
                                <th scope="row"><%=i+1%></th>
                                <td><%=Studentresult[i].email %></td>
                                <td><%=Studentresult[i].ClassName %></td>
                                <td class="text-end">
                                    Project QUIZ1 | <%=Studentresult[i].TicTacToe %> <br>
                                    Project QUIZ2 | <%=Studentresult[i].LibrarySystem %> <br> 
                                    Project QUIZ3 | <%=Studentresult[i].Roshambo %> <br>
                                </td>
                                
                                <td class="text-end">
                                    <% if(Studentresult[i].infoPrePostTest != undefined){ %>
                                <% } else{ %>  
                                    Algorithms and Flowcharts :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Introduction %> <br>
                                    String :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].String %> <br>
                                    Datatype :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Datatype %> <br> 
                                    Operators :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Operators %> <br>
                                    Selection  :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].FlowControl %> <br> 
                                    Loop  :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Loop %> <br> 
                                    Pointers :
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Pointers %> <br>
                                    Function : 
                                    <br> &nbsp &nbspQuiz | <%=Studentresult[i].Function %> <br>
                                <% } %>
                            </td>
                            <td>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                                <body>
                                
                                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                                
                                <script>
                                const xValues = ["Knowledge", "Tracing", "Explaining", "Writing"];
                                const yValues = [55, 49, 44, 24];
                                const barColors = [
                                  "#b91d47",
                                  "#00aba9",
                                  "#2b5797",
                                  "#e8c3b9",
                                  "#1e7145"
                                ];
                                
                                new Chart("myChart", {
                                  type: "pie",
                                  data: {
                                    labels: xValues,
                                    datasets: [{
                                      backgroundColor: barColors,
                                      data: yValues
                                    }]
                                  },
                                  options: {
                                    title: {
                                      display: true,
                                      text: "Compatency"
                                    }
                                  }
                                });
                                </script>
                                
                                </body></td>
                                </tr>
                            <%
                        } 
                    }
                %>
            </tbody>
        </table>
        
    </div>