<style>
    .status_n {
        width: 70px;
        height: 25px;
        background-color: #fff;
        margin-right: 5px;
        text-align: center;
    }
    .status_w {
        width: 70px;
        height: 25px;
        background-color: #ffd75e;
        margin-right: 5px;
        text-align: center;
    }
    .status {
        width: 70px;
        height: 25px;
        background-color: #a6f07f;
        margin-right: 5px;
        text-align: center;
    }
    .head {
        width: 100%; 
        background-color: #dea695;
        padding-left: 5px;
    }
    img {
        width: 200px;
    }
</style>
<h1>Student</h1>

    <div class="box mb-5 shadow" style="background-color: #bd7b67;;">
        <table class="table" style="background-color: #eaeaea;">
            <thead>
              <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-3">Student</th>
                <!--<th scope="col-1" class="col-2">Class</th>-->
                <th scope="col" class="col-2 text-start">Project Quiz</th>
                <th scope="col" class="col-3 text-start">Lab Score</th>
                <th scope="col" class="col-4 text-start">Average Score</th>
                </th>
              </tr>
            </thead>  

            <tbody>
                <% for (let i = 0; i < Object.keys(Studentresult).length; i++) {   %>
                                <th scope="row"><%=i+1%></th>
                                <td>
                                    <div class="info">Email</div> <%=Studentresult[i].email %> <br>
                                    <div class="info">Name</div> <%=Studentresult[i].name %> <br>
                                    <div class="info">Course</div> <%=Studentresult[i].Course %> <br>
                                    <div class="info">Section</div> <%=Studentresult[i].Section %> <br><br><br>
                                    <div class="character-box">
                                        <div class="character-box"><!-- Character -->
                                            <h4 class="chakra-petch-regular">Character</h4>  
                                            <div class="Character" style="position: relative; padding: 10px; min-height: 300px; display: flex; flex-direction: column; justify-content: center;">
                                                <% 
                                                try {
                                                    // นำตัวแปรคะแนนจาก Studentresult[i]
                                                    const originalBasic = Studentresult[i].post_k || 0;
                                                    const originalTrace = Studentresult[i].post_t || 0;
                                                    const originalExplain = Studentresult[i].post_e || 0;
                                                    const originalWrite = Studentresult[i].post_w || 0;
                                                    
                                                    // Check which ones are NaN
                                                    const isBasicNaN = typeof originalBasic !== 'number' || isNaN(originalBasic);
                                                    const isTraceNaN = typeof originalTrace !== 'number' || isNaN(originalTrace);
                                                    const isExplainNaN = typeof originalExplain !== 'number' || isNaN(originalExplain);
                                                    const isWriteNaN = typeof originalWrite !== 'number' || isNaN(originalWrite);
                                                    
                                                    // Replace NaN with 0 for calculation but track original values
                                                    const basicValue = isBasicNaN ? 0 : Math.max(0, originalBasic);
                                                    const traceValue = isTraceNaN ? 0 : Math.max(0, originalTrace);
                                                    const explainValue = isExplainNaN ? 0 : Math.max(0, originalExplain);
                                                    const writeValue = isWriteNaN ? 0 : Math.max(0, originalWrite);
                                                    
                                                    // Calculate how many valid scores we have
                                                    const validScoreCount = 
                                                        (isBasicNaN ? 0 : 1) + 
                                                        (isTraceNaN ? 0 : 1) + 
                                                        (isExplainNaN ? 0 : 1) + 
                                                        (isWriteNaN ? 0 : 1);
                                                    
                                                    // Calculate total score from valid scores only
                                                    const totalScore = basicValue + traceValue + explainValue + writeValue;
                                                    
                                                    // Set thresholds based on absolute scores instead of percentages
                                                    const rookieThreshold = 64;  // 20% of 320
                                                    const kingThreshold = 256;   // 80% of 320
                                                    const maxScore = 320;        // Maximum possible score
                                                    
                                                    // Set base path for images
                                                    const basePaths = [
                                                        "/public/images", 
                                                        "/images",        
                                                        "../images",       
                                                        "./public/images", 
                                                        "./images"         
                                                    ];
                                                    
                                                    // Function to check how many scores are tied for highest among valid scores only
                                                    function countHighestScores() {
                                                        // Create array with only valid scores
                                                        const validScores = [];
                                                        if (!isBasicNaN) validScores.push({ value: basicValue, type: 'basic' });
                                                        if (!isTraceNaN) validScores.push({ value: traceValue, type: 'trace' });
                                                        if (!isExplainNaN) validScores.push({ value: explainValue, type: 'explain' });
                                                        if (!isWriteNaN) validScores.push({ value: writeValue, type: 'write' });
                                                        
                                                        // If no valid scores, return 0
                                                        if (validScores.length === 0) return 0;
                                                        
                                                        // Find max value
                                                        const maxValue = Math.max(...validScores.map(item => item.value));
                                                        
                                                        // Return count of scores equal to max
                                                        return validScores.filter(item => item.value === maxValue).length;
                                                    }
                                                    
                                                    // Function to find which score type has highest value (ignoring NaN)
                                                    function getHighestScoreType() {
                                                        const scores = [
                                                            { value: basicValue, isNaN: isBasicNaN, type: 'basic' },
                                                            { value: traceValue, isNaN: isTraceNaN, type: 'trace' },
                                                            { value: explainValue, isNaN: isExplainNaN, type: 'explain' },
                                                            { value: writeValue, isNaN: isWriteNaN, type: 'write' }
                                                        ];
                                                        
                                                        // Filter out NaN values
                                                        const validScores = scores.filter(item => !item.isNaN);
                                                        
                                                        // If no valid scores, return null
                                                        if (validScores.length === 0) return null;
                                                        
                                                        // Sort by value (highest first)
                                                        validScores.sort((a, b) => b.value - a.value);
                                                        
                                                        // Return the type with highest value
                                                        return validScores[0].type;
                                                    }
                                                    
                                                    // Variables to store character info
                                                    let characterName = "";
                                                    let imageNumber = "";
                                                    let altText = "";
                                                    
                                                    // REORDERED CONDITIONS: Check highest score conditions first
                                                    
                                                    // 1. If score is above kingThreshold (80%), it's KING
                                                    if(totalScore >= kingThreshold) { 
                                                        characterName = "KING";
                                                        imageNumber = "5";
                                                        altText = "KING";
                                                    } 
                                                    // 2. If we have valid scores that can be compared, check their relationships
                                                    else if(validScoreCount > 0) {
                                                        // Score is between 20% and 80%
                                                        if(totalScore >= rookieThreshold && totalScore < kingThreshold) { 
                                                            const tiedHighest = countHighestScores();
                                                            
                                                            // Check if all valid scores are tied
                                                            if(tiedHighest === validScoreCount && validScoreCount === 4) {
                                                                characterName = "Queen";
                                                                imageNumber = "8";
                                                                altText = "Queen";
                                                            } else if(tiedHighest === validScoreCount && validScoreCount === 3) { 
                                                                characterName = "Queen";
                                                                imageNumber = "8";
                                                                altText = "Queen";
                                                            } else if(tiedHighest === validScoreCount && validScoreCount === 2) { 
                                                                characterName = "Knight";
                                                                imageNumber = "7";
                                                                altText = "Knight";
                                                            } else {
                                                                // Find highest score type
                                                                const highestType = getHighestScoreType();
                                                                
                                                                if (highestType === 'basic') {
                                                                    characterName = "Knowledge";
                                                                    imageNumber = "2";
                                                                    altText = "Knowledge";
                                                                } else if (highestType === 'trace') {
                                                                    characterName = "Tracing";
                                                                    imageNumber = "3";
                                                                    altText = "Tracing";
                                                                } else if (highestType === 'explain') {
                                                                    characterName = "Explaining";
                                                                    imageNumber = "1";
                                                                    altText = "Explaining";
                                                                } else if (highestType === 'write') {
                                                                    characterName = "Writing";
                                                                    imageNumber = "4";
                                                                    altText = "Writing";
                                                                }
                                                            }
                                                        } 
                                                        // Score is below 20%
                                                        else if(totalScore < rookieThreshold) {
                                                            // Even if below rookieThreshold, check if we have a highest score to use
                                                            const highestType = getHighestScoreType();
                                                            
                                                            if (highestType && validScoreCount > 0) {
                                                                // Use highest score character even if total is low
                                                                if (highestType === 'basic') {
                                                                    characterName = "Knowledge";
                                                                    imageNumber = "2";
                                                                    altText = "Knowledge";
                                                                } else if (highestType === 'trace') {
                                                                    characterName = "Tracing";
                                                                    imageNumber = "3";
                                                                    altText = "Tracing";
                                                                } else if (highestType === 'explain') {
                                                                    characterName = "Explaining";
                                                                    imageNumber = "1";
                                                                    altText = "Explaining";
                                                                } else if (highestType === 'write') {
                                                                    characterName = "Writing";
                                                                    imageNumber = "4";
                                                                    altText = "Writing";
                                                                } else {
                                                                    // Fallback to Rookie if something went wrong
                                                                    characterName = "Rookie";
                                                                    imageNumber = "6";
                                                                    altText = "Rookie";
                                                                }
                                                            } else {
                                                                // No valid highest score, use Rookie
                                                                characterName = "Rookie";
                                                                imageNumber = "6";
                                                                altText = "Rookie";
                                                            }
                                                        }
                                                    } 
                                                    // 3. Only if all else fails, use Rookie character
                                                    else {
                                                        characterName = "Rookie";
                                                        imageNumber = "6";
                                                        altText = "Rookie";
                                                    }
                                                    
                                                    // Get image path with fallback support
                                                    const primaryImagePath = `${basePaths[0]}/${imageNumber}.png`;
                                                %>
                                                    <!-- แสดงรูปตัวละคร -->
                                                    <div style="text-align: center;">
                                                        <img 
                                                            src="<%= primaryImagePath %>" 
                                                            alt="<%= altText %>" 
                                                            onerror="
                                                                if (!this.dataset.triedCount) { this.dataset.triedCount = 0; }
                                                                const basePaths = ['/public/images', '/images', '../images', './public/images', './images'];
                                                                const imageNumber = '<%= imageNumber %>';
                                                                if (parseInt(this.dataset.triedCount) < basePaths.length - 1) {
                                                                    this.dataset.triedCount = parseInt(this.dataset.triedCount) + 1;
                                                                    this.src = basePaths[this.dataset.triedCount] + '/' + imageNumber + '.png';
                                                                } else {
                                                                    // If all paths fail, show text instead of image
                                                                    this.style.display = 'none';
                                                                    this.nextElementSibling.style.display = 'block';
                                                                }
                                                            "
                                                            style="max-width: 90%; height: auto; object-fit: contain; display: block; margin: 0 auto;"
                                                        />
                                                        
                                                        <!-- Fallback text if image fails to load (hidden by default) -->
                                                        <div style="display: none; font-size: 48px; font-weight: bold; text-align: center; padding: 20px;">
                                                            <%= characterName %>
                                                        </div>
                                                        
                                                        <!-- ไม่แสดงคะแนนรวมใต้รูป -->
                                                    </div>
                                                    
                                                    <!-- CSS styles -->
                                                    <style>
                                                        /* จัดให้ Character อยู่ในกรอบ */
                                                        .character-box {
                                                            box-sizing: border-box;
                                                        }
                                                        
                                                        .Character {
                                                            box-sizing: border-box;
                                                            overflow: hidden;
                                                        }
                                                        
                                                        /* ขยายขนาดของรูปภาพตัวละคร */
                                                        .Character img {
                                                            max-width: 100% !important; /* แทนที่ค่า max-width เดิม */
                                                            width: auto;
                                                            height: auto;
                                                            max-height: 450px !important; /* เพิ่มความสูงสูงสุด */
                                                            object-fit: contain;
                                                            display: block;
                                                            margin: 0 auto;
                                                        }
                                                        
                                                        /* ขยายขนาดพื้นที่แสดงผลตัวละคร */
                                                        .Character {
                                                            min-height: 340px; /* เพิ่มความสูงขั้นต่ำ */
                                                            padding: 15px; /* เพิ่ม padding */
                                                        }
                                                    </style>
                                                <%
                                                } catch (error) { 
                                                    // แสดง error ในคอนโซลสำหรับการแก้ไขปัญหา
                                                    console.error("Character component error:", error);
                                                %>
                                                    <div style="text-align: center; flex-grow: 1; display: flex; flex-direction: column; justify-content: center;">
                                                        <div style="font-size: 48px; font-weight: bold; text-align: center; padding: 20px;">
                                                            Charecter
                                                        </div>
                                                        <!-- ไม่แสดงคะแนนรวมแม้ในกรณี error -->
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                </td>
                                <td class="text-start"> <!-- Project Quiz -->
                                    <span class="quiz">Project QUIZ1 </span>
                                    <div>
                                        <% if(Studentresult[i].TicketBookingSystem != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].TicketBookingSystem === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].TicketBookingSystem %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].TicketBookingSystem %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].TicketBookingSystem %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Project QUIZ2 </span>
                                    <div>
                                        <% if(Studentresult[i].PointofSalesSystem != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].PointofSalesSystem === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].PointofSalesSystem %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].PointofSalesSystem %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].PointofSalesSystem %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Project QUIZ3 </span>
                                    <div>
                                        <% if(Studentresult[i].Project_QUIZ3 != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Project_QUIZ3 === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Pretest</div>
                                                    <%=Studentresult[i].Project_QUIZ3 %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].Project_QUIZ3 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].Project_QUIZ3 %>
                                            </div> 
                                        <% }%>
                                    </div>
                                
                                </td>
                                <td class="text-start"> <!-- Lab Score -->
                                    <% if(Studentresult[i].infoPrePostTest != undefined){ %>
                                    <% } else{ %>  
                                    <span class="quiz">Algorithms and Flowcharts</span>
                                    <div>
                                    <% if (Studentresult[i].pre_Algorithms_and_Flowcharts != "ยังไม่ทำ") { %> 
                                        <% if (Studentresult[i].Pretest1S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                            </div> 
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status">Pretest</div>
                                                <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                            </div> 
                                        <% }%>
                                    <% }else{ %>
                                        <div style="display: flex;">
                                            <div class="status_n">Pretest</div>
                                            <%=Studentresult[i].pre_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Pretest1 %>
                                        </div> 
                                    <% }%>
                                    
                                    <% if (Studentresult[i].post_Algorithms_and_Flowcharts != "ยังไม่ทำ") { %>
                                        <% if (Studentresult[i].Posttest1S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }%>
                                    <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Posttest</div>
                                                <%=Studentresult[i].post_Algorithms_and_Flowcharts %> --- Total: <%=Studentresult[i].Posttest1 %>
                                            </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Datatype and Variable</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Datatype_and_Variable != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest2S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total:<%=Studentresult[i].Pretest2 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total: <%=Studentresult[i].Pretest2 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Datatype_and_Variable %> --- Total:<%=Studentresult[i].Pretest2 %>
                                            </div> 
                                        <% }%>
                                        <% if (Studentresult[i].post_Datatype_and_Variable != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest2S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Datatype_and_Variable %>  --- Total:<%=Studentresult[i].Posttest2 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Datatype_and_Variable %> --- Total: <%=Studentresult[i].Posttest2 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Datatype_and_Variable %>  --- Total:<%=Studentresult[i].Posttest2 %>
                                                </div> 
                                        <% }%>
                                    </div>
                                    <span class="quiz">Input and Output</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Input_and_Output != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest3S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Input_and_Output %> --- Total:<%=Studentresult[i].Pretest3 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Input_and_Output %> --- Total: <%=Studentresult[i].Pretest3 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Input_and_Output %> --- Total:<%=Studentresult[i].Pretest3 %>
                                            </div> 
                                        <% }%>
                                        <% if (Studentresult[i].post_Input_and_Output != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest3S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Input_and_Output %> --- Total:<%=Studentresult[i].Posttest3 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Input_and_Output %> --- Total: <%=Studentresult[i].Posttest3 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Input_and_Output %> --- Total:<%=Studentresult[i].Posttest3 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Operators and Expressions</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Operators_and_Expressions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest4S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Pretest4 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total: <%=Studentresult[i].Pretest4 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Pretest4 %>
                                            </div> 
                                        <% }%>

                                        <% if (Studentresult[i].post_Operators_and_Expressions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest4S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Posttest4 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Operators_and_Expressions %> --- Total: <%=Studentresult[i].Posttest4 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Operators_and_Expressions %> --- Total:<%=Studentresult[i].Posttest4 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Selection Statements </span>
                                    <div>
                                        <% if (Studentresult[i].pre_Selection_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest5S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Selection_Statements %> --- Total:<%=Studentresult[i].Pretest5 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Selection_Statements %> --- Total: <%=Studentresult[i].Pretest5 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Selection_Statements %> --- Total:<%=Studentresult[i].Pretest5 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Selection_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest5S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Selection_Statements %> --- Total:<%=Studentresult[i].Posttest5 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Selection_Statements %> --- Total: <%=Studentresult[i].Posttest5 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Selection_Statements %> --- Total:<%=Studentresult[i].Posttest5 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Loop Statements</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Loop_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest6S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                                </div> 
                                                <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Loop_Statements %> --- Total:<%=Studentresult[i].Pretest6 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Loop_Statements != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest6S === "รอตรวจ") { %>
                                                <div style="display: flex;">
                                                    <div class="status_w">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                                <% } %>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Loop_Statements %> --- Total:<%=Studentresult[i].Posttest6 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Arrays and Strings</span>
                                    <div>
                                        <% if (Studentresult[i].pre_Arrays_and_Strings != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest7S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Pretest7 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total: <%=Studentresult[i].Pretest7 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Pretest7 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Arrays_and_Strings != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest7S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Posttest</div>
                                                <%=Studentresult[i].post_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Posttest7 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Arrays_and_Strings %> --- Total: <%=Studentresult[i].Posttest7 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Arrays_and_Strings %> --- Total:<%=Studentresult[i].Posttest7 %>
                                                </div> 
                                            <% }%>
                                    </div>
                                    <span class="quiz">Functions</span> 
                                    <div>
                                        <% if (Studentresult[i].pre_Functions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Pretest8S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status_w">Pretest</div>
                                                <%=Studentresult[i].pre_Functions %> --- Total:<%=Studentresult[i].Pretest8 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Pretest</div>
                                                    <%=Studentresult[i].pre_Functions %> --- Total: <%=Studentresult[i].Pretest8 %>
                                                </div> 
                                            <% }%>
                                        <% }else{ %>
                                            <div style="display: flex;">
                                                <div class="status_n">Pretest</div>
                                                <%=Studentresult[i].pre_Functions %> --- Total:<%=Studentresult[i].Pretest8 %>
                                            </div> 
                                        <% }%>


                                        <% if (Studentresult[i].post_Functions != "ยังไม่ทำ") { %>
                                            <% if (Studentresult[i].Posttest8S === "รอตรวจ") { %>
                                            <div style="display: flex;">
                                                <div class="status">Posttest</div>
                                                <%=Studentresult[i].post_Functions %> --- Total:<%=Studentresult[i].Posttest8 %>
                                            </div> 
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status">Posttest</div>
                                                    <%=Studentresult[i].post_Functions %> --- Total: <%=Studentresult[i].Posttest8 %>
                                                </div> 
                                            <% }%>
                                            <% }else{ %>
                                                <div style="display: flex;">
                                                    <div class="status_n">Posttest</div>
                                                    <%=Studentresult[i].post_Functions %> --- Total:<%=Studentresult[i].Posttest8 %>
                                                </div> 
                                            <% }%>
                                    </div>


                                <% } %>
                                </td>
                                <td> <!-- Average Score -->
                                    <div style="font-size: 12px;">K = Knowledge, T = Tracing, <br>E = Explaining, W = Writing</div> <br>
                                    <div class="head">คะแนน Pre-test</div>
                                    <div style="display: flex;"> 
                                        <div style="width: 50px;">&ensp;K</div>
                                        <div style="font-size: 12px;"></div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv1+Studentresult[i].pre2lv1+Studentresult[i].pre3lv1+Studentresult[i].pre4lv1+Studentresult[i].pre5lv1+Studentresult[i].pre6lv1+Studentresult[i].pre7lv1+Studentresult[i].pre8lv1)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;T</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv2+Studentresult[i].pre2lv2+Studentresult[i].pre3lv2+Studentresult[i].pre4lv2+Studentresult[i].pre5lv2+Studentresult[i].pre6lv2+Studentresult[i].pre7lv2+Studentresult[i].pre8lv2)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;E</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)/5)*100) %>  class="bar1 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv3+Studentresult[i].pre2lv3+Studentresult[i].pre3lv3+Studentresult[i].pre4lv3+Studentresult[i].pre5lv3+Studentresult[i].pre6lv3+Studentresult[i].pre7lv3+Studentresult[i].pre8lv3)/Studentresult[i].pre)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;W</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)/25)*100) %>  class="bar1 "></progress>     
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)) %>/25</div>                                  
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].pre1lv4+Studentresult[i].pre2lv4+Studentresult[i].pre3lv4+Studentresult[i].pre4lv4+Studentresult[i].pre5lv4+Studentresult[i].pre6lv4+Studentresult[i].pre7lv4+Studentresult[i].pre8lv4)/Studentresult[i].pre)/25)*100) %>%)</div>   
                                    </div>
                                    <br>
                                    <div class="head">คะแนน Post-test</div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;K</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv1+Studentresult[i].post2lv1+Studentresult[i].post3lv1+Studentresult[i].post4lv1+Studentresult[i].post5lv1+Studentresult[i].post6lv1+Studentresult[i].post7lv1+Studentresult[i].post8lv1)/Studentresult[i].post)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;T</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;"><%= Math.round((((Studentresult[i].post1lv2+Studentresult[i].post2lv2+Studentresult[i].post3lv2+Studentresult[i].post4lv2+Studentresult[i].post5lv2+Studentresult[i].post6lv2+Studentresult[i].post7lv2+Studentresult[i].post8lv2)/Studentresult[i].post)/5)*100) %>%</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;E</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)/5)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)) %>/5</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv3+Studentresult[i].post2lv3+Studentresult[i].post3lv3+Studentresult[i].post4lv3+Studentresult[i].post5lv3+Studentresult[i].post6lv3+Studentresult[i].post7lv3+Studentresult[i].post8lv3)/Studentresult[i].post)/5)*100) %>%)</div>
                                    </div>
                                    <div style="display: flex;">
                                        <div style="width: 50px;">&ensp;W</div>
                                        <progress  max="100" value=<%= ((((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)/25)*100) %>  class="bar2 "></progress>
                                        <div style="margin-left: 5px;"><%= (((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)) %>/25</div>
                                        <div style="margin-left: 5px;">(<%= Math.round((((Studentresult[i].post1lv4+Studentresult[i].post2lv4+Studentresult[i].post3lv4+Studentresult[i].post4lv4+Studentresult[i].post5lv4+Studentresult[i].post6lv4+Studentresult[i].post7lv4+Studentresult[i].post8lv4)/Studentresult[i].post)/25)*100) %>%)</div>
                                    </div>
                                    <br>
                                    
                                </td>
                                </tr>
                          <% } %>
            </tbody>
        </table>
    </div>