
<!-- MIDDLE 1 -->
<script src="javascripts/gamequiz.js"></script>
<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }
    .a1 {
        color: #2a2a2a;
        text-decoration: none;
    }
    .a:hover,.a1:hover { 
        color: #38fbdb;
        font-size: large;
    }
    b{margin-right: 5px;}
    .b1 {
        font-size: 12px;
        text-align: end;
        border-radius: 5px;
        background-color: #a0de87;
        padding: 5px;
    }
    .b2 {
        font-size: 12px;
        text-align: end;
        border-radius: 5px;
        background-color: #ffb26f;
        padding: 5px;
    }
    p {margin: 0;}
    
    .scrollbtn {
        color: #2a2a2a;
        width: 40px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 5px;
        border: solid;
        margin-right: 5px;
        margin-top: 5px;
    }
    .scrollbtnRed {
        color: #ffffff;
        width: 40px;
        text-align: center;
        background-color: #e32841;
        border-radius: 5px;
        border: solid;
        margin-right: 5px;
        margin-top: 5px;
    }
  
    .wrapbox.auto {
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .contentbox{
    width: 350px;
    height: auto;
    background-color: #bd7b67;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  .button {
    color: #000000;
    background-color: #cad19f;
    border: solid #000000;
  }
  .button:hover {
    border: solid #bd7b67;
    box-shadow: 0 0 10px 5px #fff;
  }
</style>

<div id = "content" class="container">
    <!--   C Language -->
            <div class="accordion" id="accordionParentSyntax">
                <!--   Introduce -->
                <div id="collapseIntroduce" class="accordion-collapse collapse show" data-bs-parent="#accordionParentSyntax">
                    <h1 style="color: #000;">Lesson</h1>
                    
                    <!--   ## -->
                    <div class="box bg-light  mb-5 shadow" style="border-radius: 5px;">
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                            <div lang="ja">
                                <div class="wrapbox auto contentbox">
                                    <b>1. Algorithms and Flowcharts </b><hr>
                                    <div> 
                                        <div>
                                            <a class="a" href="/course-Algorithms_and_Flowcharts-pretest">แบบทดสอบก่อนเรียน</a>
                                            <b class="b1"><%= sumpre1 %>/40</b>
                                        </div>
                                        <hr>
                                        <% if(pre1done >= 1 ){ %>
                                            <a class="a1"  href="/course-Algorithms_and_Flowcharts">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre1LV1 >= 4 ){ %>
                                                <a href="/course-Algorithms_and_Flowcharts#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Algorithms_and_Flowcharts#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre1LV2 >= 4 ){ %>
                                                <a href="/course-Algorithms_and_Flowcharts#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Algorithms_and_Flowcharts#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre1LV3 >= 4 ){ %>
                                                <a href="/course-Algorithms_and_Flowcharts#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Algorithms_and_Flowcharts#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre1LV4 >= 20 ){ %>
                                                <a href="/course-Algorithms_and_Flowcharts#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Algorithms_and_Flowcharts#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            
                                            <hr>
                                            <div>
                                                <a class="a" href="/course-Algorithms_and_Flowcharts-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost1 %>/40</b>
                                            </div>
                                            
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %><hr>
                                        <button class="btn button" onclick="myFunction1()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV1" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: start;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"><%= pre1LV1 %>/5 </b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre1LV1*20 %>px;" class="barValue">
                                                        <%= pre1LV1*20 %>%</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"><%= post1LV1 %>/5 </b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post1LV1*20 %>px;" class="barValue">
                                                        <%= post1LV1*20 %>%</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: start;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"><%= pre1LV2 %>/5</b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre1LV2*20 %>px;" class="barValue">
                                                        <%= pre1LV2*20 %>%</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"><%= post1LV2 %>/5</b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post1LV2*20 %>px;" class="barValue">
                                                        <%= post1LV2*20 %>%</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: start;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center; color"><%= pre1LV3 %>/5</b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre1LV3*20 %>px;" class="barValue">
                                                        <%= pre1LV3*20 %>%</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"><%= post1LV3 %>/5</b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post1LV3*20 %>px;" class="barValue">
                                                        <%= post1LV3*20 %>%</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: start;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"><%= pre1LV4 %>/25</b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre1LV4*4 %>px;" class="barValue">
                                                        <%= pre1LV4*4 %>%</div>
                                                </div>

                                                <b style="font-size: 12px; text-align: center;"><%= post1LV4 %>/25</b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post1LV4*4 %>px;" class="barValue">
                                                        <%= post1LV4*4 %>%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>       
                                </div>

                                <div class="wrapbox auto contentbox">
                                    <b>2. Datatype and Variable </b><hr>
                                    <div>
                                        <% if(post1done >= 1 ){ %>
                                            <div>
                                                <a class="a" href="/course-Datatype_and_Variable-pretest">แบบทดสอบก่อนเรียน</a>
                                            <b class="b1"><%= sumpre2 %>/40</b>
                                            </div>
                                            <hr> 
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 1 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre2done >= 1 ){ %>
                                            <a class="a1" href="/course-Datatype_and_Variable">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre2LV1 >= 4 ){ %>
                                                <a href="/course-Datatype_and_Variable#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Datatype_and_Variable#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre2LV2 >= 4 ){ %>
                                                <a href="/course-Datatype_and_Variable#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Datatype_and_Variable#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre2LV3 >= 4 ){ %>
                                                <a href="/course-Datatype_and_Variable#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Datatype_and_Variable#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre2LV4 >= 20 ){ %>
                                                <a href="/course-Datatype_and_Variable#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Datatype_and_Variable#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a" href="/course-Datatype_and_Variable-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost2 %>/40</b>
                                            </div>
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction2()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV2" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre2LV1*20 %>px;" class="barValue"><%= pre2LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post2LV1*20 %>px;" class="barValue"><%= post2LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre2LV2*20 %>px;" class="barValue"><%= pre2LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post2LV2*20 %>px;" class="barValue"><%= post2LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre2LV3*20 %>px;" class="barValue"><%= pre2LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post2LV3*20 %>px;" class="barValue"><%= post2LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre2LV4*4 %>px;" class="barValue"><%= pre2LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                   <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post2LV4*4 %>px;" class="barValue"><%= post2LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="wrapbox auto contentbox">
                                    <b>3. Input and Output</b><hr>
                                    <div>
                                        <% if(post2done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Input_and_Output-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre3 %>/40</b>
                                            </div>
                                            
                                            <hr>
                                         <% } else{ %>
                                             <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 2 ก่อน</p><hr>
                                         <% } %>
                                        <% if(pre3done >= 1 ){ %>
                                            <a class="a1"  href="/course-Input_and_Output">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre3LV1 >= 4 ){ %>
                                                <a href="/course-Input_and_Output#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Input_and_Output#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre3LV2 >= 4 ){ %>
                                                <a href="/course-Input_and_Output#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Input_and_Output#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre3LV3 >= 4 ){ %>
                                                <a href="/course-Input_and_Output#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Input_and_Output#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre3LV4 >= 20 ){ %>
                                                <a href="/course-Input_and_Output#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Input_and_Output#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Input_and_Output-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost3 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p><hr>
                                        <% } %>
                                        <button class="btn button" onclick="myFunction3()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV3" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre3LV1*20 %>px;" class="barValue"><%= pre3LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post3LV1*20 %>px;" class="barValue"><%= post3LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre3LV2*20 %>px;" class="barValue"><%= pre3LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post3LV2*20 %>px;" class="barValue"><%= post3LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre3LV3*20 %>px;" class="barValue"><%= pre3LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post3LV3*20 %>px;" class="barValue"><%= post3LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre3LV4*4 %>px;" class="barValue"><%= pre3LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post3LV4*4 %>px;" class="barValue"><%= post3LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapbox auto contentbox">
                                    <b>4. Operators and Expressions</b><hr>
                                    <div>
                                        <% if(post3done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Operators_and_Expressions-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre4 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 3 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre4done >= 1 ){ %>
                                            <a class="a1"  href="/course-Operators_and_Expressions">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre4LV1 >= 4 ){ %>
                                                <a href="/course-Operators_and_Expressions#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Operators_and_Expressions#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre4LV2 >= 4 ){ %>
                                                <a href="/course-Operators_and_Expressions#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Operators_and_Expressions#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre4LV3 >= 4 ){ %>
                                                <a href="/course-Operators_and_Expressions#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Operators_and_Expressions#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre4LV4 >= 20 ){ %>
                                                <a href="/course-Operators_and_Expressions#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Operators_and_Expressions#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Operators_and_Expressions-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost4 %>/40</b>
                                            </div>
                                            
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction4()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV4" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre4LV1*20 %>px;" class="barValue" ><%= pre4LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post4LV1*20 %>px;" class="barValue"><%= post4LV1 %>/5</div> 
                                                </div>
                                            </div>  
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre4LV2*20 %>px;" class="barValue" ><%= pre4LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar"> 
                                                    <div style="background-color: #ffb26f; width: <%= post4LV2*20 %>px;" class="barValue"><%= post4LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre4LV3*20 %>px;" class="barValue" ><%= pre4LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post4LV3*20 %>px;" class="barValue"><%= post4LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre4LV4*4 %>px;" class="barValue"><%= pre4LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post4LV4*4 %>px;" class="barValue" ><%= post4LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapbox auto contentbox">
                                    <b>5. Selection Statements</b><hr>
                                    <div>
                                        <% if(post4done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Selection_Statements-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre5 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 4 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre5done >= 1 ){ %>
                                            <a class="a1"  href="/course-Selection_Statements">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre5LV1 >= 4 ){ %>
                                                <a href="/course-Selection_Statements#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Selection_Statements#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre5LV2 >= 4 ){ %>
                                                <a href="/course-Selection_Statements#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Selection_Statements#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre5LV3 >= 4 ){ %>
                                                <a href="/course-Selection_Statements#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Selection_Statements#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre5LV4 >= 20 ){ %>
                                                <a href="/course-Selection_Statements#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Selection_Statements#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Selection_Statements-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost5 %>/40</b>
                                            </div>
                                            
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction5()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV5" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre5LV1*20 %>px;" class="barValue"><%= pre5LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post5LV1*20 %>px;" class="barValue"><%= post5LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre5LV2*20 %>px;" class="barValue"><%= pre5LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post5LV2*20 %>px;" class="barValue"><%= post5LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre5LV3*20 %>px;" class="barValue"><%= pre5LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post5LV3*20 %>px;" class="barValue"><%= post5LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre5LV4*4 %>px;" class="barValue"><%= pre5LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post5LV4*4 %>px;" class="barValue"><%= post5LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapbox auto contentbox">
                                    <b>6. Loop Statements</b><hr>
                                    <div>
                                        <% if(post5done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Loop_Statements-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre6 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 5 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre6done >= 1 ){ %>
                                            <a class="a1"  href="/course-Loop_Statements">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre6LV1 >= 4 ){ %>
                                                <a href="/course-Loop_Statements#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Loop_Statements#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre6LV2 >= 4 ){ %>
                                                <a href="/course-Loop_Statements#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Loop_Statements#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre6LV3 >= 4 ){ %>
                                                <a href="/course-Loop_Statements#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Loop_Statements#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre6LV4 >= 20 ){ %>
                                                <a href="/course-Loop_Statements#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Loop_Statements#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Loop_Statements-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost6 %>/40</b>
                                            </div>
                                            
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction6()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV6" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre6LV1*20 %>px;" class="barValue"><%= pre6LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post6LV1*20 %>px;" class="barValue"><%= post6LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre6LV2*20 %>px;" class="barValue"><%= pre6LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post6LV2*20 %>px;" class="barValue"><%= post6LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre6LV3*20 %>px;" class="barValue"><%= pre6LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post6LV3*20 %>px;" class="barValue"><%= post6LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre6LV4*4 %>px;" class="barValue"><%= pre6LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post6LV4*4 %>px;" class="barValue"><%= post6LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapbox auto contentbox">
                                    <b>7. Array and String</b><hr>
                                    <div>
                                        <% if(post6done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Arrays_and_Strings-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre7 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 6 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre7done >= 1 ){ %>
                                            <a class="a1"  href="/course-Arrays_and_Strings">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre7LV1 >= 4 ){ %>
                                                <a href="/course-Arrays_and_Strings#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Arrays_and_Strings#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre7LV2 >= 4 ){ %>
                                                <a href="/course-Arrays_and_Strings#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Arrays_and_Strings#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre7LV3 >= 4 ){ %>
                                                <a href="/course-Arrays_and_Strings#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Arrays_and_Strings#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre7LV4 >= 20 ){ %>
                                                <a href="/course-Arrays_and_Strings#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Arrays_and_Strings#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Arrays_and_Strings-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost7 %>/40</b>
                                            </div>
                                            

                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction7()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV7" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre7LV1*20 %>px;" class="barValue"><%= pre7LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post7LV1*20 %>px;" class="barValue"><%= post7LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre7LV2*20 %>px;" class="barValue"><%= pre7LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post7LV2*20 %>px;" class="barValue"><%= post7LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre7LV3*20 %>px;" class="barValue"><%= pre7LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post7LV3*20 %>px;" class="barValue"><%= post7LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre7LV4*4 %>px;" class="barValue"><%= pre7LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post7LV4*4 %>px;" class="barValue"><%= post7LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrapbox auto contentbox">
                                    <b>8. Functions </b><hr>
                                    <div>
                                        <% if(post7done >= 1 ){ %>
                                            <div>
                                                <a class="a"  href="/course-Functions-pretest">แบบทดสอบก่อนเรียน</a>
                                                <b class="b1"><%= sumpre8 %>/40</b>
                                            </div>
                                            <hr>
                                        <% } else{ %>
                                            <p>แบบทดสอบก่อนเรียน <br>ต้องทำแบบทดสอบหลังเรียนบทที่ 7 ก่อน</p><hr>
                                        <% } %>
                                        <% if(pre8done >= 1 ){ %>
                                            <a class="a1"  href="/course-Functions">เนื้อหาปลดล็อคแล้ว <br>กดเข้าไปดูได้เลย!</a><br>
                                            <br><p>ทางลัดไปยังแบบฝึกหัด</p>
                                            <% if(pre8LV1 >= 4 ){ %>
                                                <a href="/course-Functions#Knowledge" class="scrollbtn"  type="button">K</a>
                                            <% } else{ %> 
                                                <a href="/course-Functions#Knowledge" class="scrollbtnRed"  type="button">K</a>
                                            <% } %>
                                            <% if(pre8LV2 >= 4 ){ %>
                                                <a href="/course-Functions#Tracing" class="scrollbtn"  type="button">T</a>
                                            <% } else{ %> 
                                                <a href="/course-Functions#Tracing" class="scrollbtnRed"  type="button">T</a>
                                            <% } %>
                                            <% if(pre8LV3 >= 4 ){ %>
                                                <a href="/course-Functions#Explaining" class="scrollbtn"  type="button">E</a>
                                            <% } else{ %> 
                                                <a href="/course-Functions#Explaining" class="scrollbtnRed"  type="button">E</a>
                                            <% } %>
                                            <% if(pre8LV4 >= 20 ){ %>
                                                <a href="/course-Functions#Writing" class="scrollbtn" type="button">W</a>
                                            <% } else{ %> 
                                                <a href="/course-Functions#Writing" class="scrollbtnRed" type="button">W</a>
                                            <% } %>
                                            <hr>
                                            <div>
                                                <a class="a"  href="/course-Functions-quiz">แบบทดสอบหลังเรียน</a>
                                                <b class="b2"><%= sumpost8 %>/40</b>
                                            </div>
                                            
                                        <% } else{ %> 
                                            <p>เนื้อหาบทเรียนยังไม่ปลดล็อค <br>ต้องทำแบบทดสอบก่อนเรียนก่อน</p>
                                        <% } %> <hr>
                                        <button class="btn button" onclick="myFunction8()">กดเพื่อดูคะแนน</button>
                                        <div id="myDIV8" style="display:none; margin-top: 10px;">
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Knowledge</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                 <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre8LV1*20 %>px;" class="barValue"><%= pre8LV1 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post8LV1*20 %>px;" class="barValue"><%= post8LV1 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Tracing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre8LV2*20 %>px;" class="barValue"><%= pre8LV2 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post8LV2*20 %>px;" class="barValue"><%= post8LV2 %>/5</div>
                                                </div>
                                            </div>
                                            <div class="group5">
                                                <b style="font-size: 12px; text-align: end;">Explaining</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre8LV3*20 %>px;" class="barValue"><%= pre8LV3 %>/5</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post8LV3*20 %>px;" class="barValue"><%= post8LV3 %>/5</div>
                                                </div> 
                                            </div>       
                                            <div class="group5"> 
                                                <b style="font-size: 12px; text-align: end;">Writing</b>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #a0de87; width: <%= pre8LV4*4 %>px;" class="barValue"><%= pre8LV4 %>/25</div>
                                                </div>
                                                <b style="font-size: 12px; text-align: center;"></b>
                                                <div class="bar">
                                                    <div style="background-color: #ffb26f; width: <%= post8LV4*4 %>px;" class="barValue"><%= post8LV4 %>/25</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                 
                                
                                
                                
                                
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    