<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <style>
        
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        h1,h5 {
            color: #fff;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg { 
                font-size: 3.5rem;
            }
        }
        
    </style>

    <link rel='stylesheet' href='stylesheets/home1.css' />
    <title>Course</title>
</head>

<body class="quantico-regular" style="background-color: #122c5a;">
    <!-- Narbar-->
    <%- include('../layouts/navbar') %>
    
    <!-- end of Narbar-->

    <main class="grid-container">
        <br>
        <div class="content">
        <!-- RECOMMENDATION-->
        <% if (Object.keys(RecommendaResult).length !== 0 && RecommendaResult[0].RecommendCourse != "null"  ) { %>
            <%- include('../layouts/recommendation') %>
        <% } else { %>
        <% } %>    

        
      

        <!-- LESSON -->
        <%- include('../layouts/course-middle') %>

        <!-- ASSIGNMENT STATUS -->
        <%- include('../layouts/course-middle_Score') %>

        <br><br>
        </div>


<%- include('../layouts/footer') %>